#set($layout="/admin/layout/matrix.vm")
<script type="text/javascript">
	Matrix.Nav({"menu": 124, "cmenu": 126});
</script>
<div id="content-header">
    <h1>财务管理 |分公司提现审核</h1>
</div>
<input type="hidden" name="status" value="$!status"/>
<div class="container-fluid">
	<hr>
	<div class="row-fluid">
		<div class="span12">
			<div class="widget-box">
				<ul class="nav nav-tabs">
                    <li>
                      <a href="$!{request.getContextPath()}/fm/locationCompanyWithDrawRecordList.do">自营提现审核</a>
                    </li>
                    <li class="active" >
                      <a href="$!{request.getContextPath()}/comToExamine/getcomToExamine.do">代销提现审核</a>
                    </li>
					<li>
                      <a href="$!{request.getContextPath()}/share/company/withdraw/queryCompanyWithdrawList.do">区域提现审核</a>
                    </li>
                  </ul>
				<div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
					<h5>提现查询列表</h5>
				</div>
				<div class="widget-content nopadding">
					<form class="form-horizontal form-horizontal-inline" method="get" id="form" action="$!{request.getContextPath()}/comToExamine/getcomToExamine.do">
						<input type="hidden"  name="status" value="$!{request.getParameter('status')}" id="status"/>
						<div class="row-fluid">
							<div class="span12">
								<div class="control-group">
									<label class="control-label">下单时间：</label>
									<div class="controls">
										<input id="startTime"  name="startCreateTime" class="Wdate" type="text" value="$!{request.getParameter('startCreateTime')}" size="15" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
										<span>至</span>
										<input id="endTime" name="endCreateTime" class="Wdate" type="text" value="$!{request.getParameter('endCreateTime')}" size="15" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
										<a class="btn_p" href="javascript:void(0)" onclick="showTime('7')">最近7天</a>&nbsp;
										<a class="btn_p" href="javascript:void(0)" onclick="showTime('30')">最近30天</a>
									</div>
								</div>
							</div>
						</div>
						<div class="row-fluid">
						   <div class="span6">
								<div class="control-group">
									<label class="control-label">提现公司名称：</label>
									<div class="controls">
										<input name="companyName" value="$!{request.getParameter('companyName')}" type="text" size="15" />
									</div>
								</div>
							</div>
							
							<div class="span6">
								<div class="control-group">
									<label class="control-label">提现编号：</label>
									<div class="controls">
										<input name="id" value="$!{request.getParameter('id')}" type="text" size="15" />
									</div>
								</div>
							</div>
						</div>
						<div class="row-fluid">
							#** <div class="span6">
								<div class="control-group">
									<label class="control-label">联系方式：</label>
									<div class="controls">
										<input name="phone" value="$!{request.getParameter('phone')}" type="text" size="15" />
									</div>
								</div>
							</div>
							<div class="span6">
								<div class="control-group">
									<label class="control-label">提现状态：</label>
									<div class="controls">
										<select name="status">
											<option value="" #if("$!{request.getParameter('status')}"=="") selected #end>请选择</option>
											<option value="0" #if($!{request.getParameter('status')}==0) selected #end>待审核</option>
											<option value="2" #if($!{request.getParameter('status')}==2) selected #end>审核通过</option>
											<option value="3" #if($!{request.getParameter('status')}==3) selected #end>提现成功</option>
											<option value="1" #if($!{request.getParameter('status')}==1) selected #end>提现失败</option>
											
										</select>
									</div>
								</div>
							</div>
							*#
						</div>
						<div class="form-actions app-ad-block">
							<button class="btn btn-success" type="submit" id="commit">筛选</button>
                            <button class="btn btn-warning" type="reset">重置</button>
							<a class="btn btn-danger" href="$!{request.getContextPath()}/comToExamine/exportWithDraw.do" >提现导出</a>
							<button type="button" name="files" class="file_upload " id="importXls">提现导入</button>
						</div>
					</form>
				</div>
			 <div class="widget-box">
				<div class="widget-content">
					<div class="widget-box widget-tabs-box">
                        <ul class="nav nav-tabs">
                            <li #if($!{request.getParameter('status')}==-1 || "$!{request.getParameter('status')}" == "") class="active" #end><a onclick="javascript:formSubmit('')" href="javascript:void();">全部</a></li>
							<li #if($!{request.getParameter('status')}==0) class="active" #end><a onclick="javascript:formSubmit(0)" href="javascript:void();">待审核</a></li>
                            <li #if($!{request.getParameter('status')}==2) class="active" #end><a onclick="javascript:formSubmit(2)" href="javascript:void();">审核通过</a></li>
                            <li #if($!{request.getParameter('status')}==3) class="active" #end><a onclick="javascript:formSubmit(3)" href="javascript:void();">提现成功</a></li>
                            <li #if($!{request.getParameter('status')}==1) class="active" #end><a onclick="javascript:formSubmit(1)" href="javascript:void();">提现失败</a></li>
                        </ul>
					<table class="table table-text-center">
						<thead>
							<tr>
								<th>提现编号</th>
								<th>提现公司名称</th>
								<th>提现卡号</th>
								<th>开户人</th>
								<th>开户行地址</th>
								<th>提现金额(元)</th>
								<th>申请日期</th>
								<th>提现流水号</th>
								<th>状态</th>
								<th width="170px">操作</th>
							</tr>
						</thead>
						<tbody>
							#foreach($co in $datas)
							#set($index = $loopCounter + 1)
							<tr>
								<td>$!{co.examineId}</td>
								<td>$!{co.divName}</td>
								<td>$!{co.bankCarId}</td>
								<td>$!{co.bankAccount}</td>
					  			<td>$!{co.prvName}$!{co.cityName}$!{co.bankSub}</td>
								<td><p class="p_money">$!{co.money}</p></td>
								<td>$!date.format('yyyy-MM-dd HH:mm:ss',$co.apliyTime)</td>
								<td>$!{co.alipayNo}</td>
								#if($co.status==0)
									<td><span class="badge badge-info">待审核...</span></td>
								#elseif($co.status==1)
									<td>
										<span class="badge">提现失败</span>
										<button class="btn btn-primary btn-mini" onclick="showSingleModal('reasonModal','$!{co.examineId}','失败原因：$!{co.reason}')" title="$!{co.reason}" >查看原因</button>
										<div aria-hidden="false" id="reasonModal" class="modal hide in">
											<div class="modal-header">
												<button data-dismiss="modal" class="close" type="button">×</button>
												<h3></h3>
											</div>
											<div class="modal-body">
												<p></p>
											</div>
											<div class="modal-footer"><a data-dismiss="modal" class="btn" href="javascript:;">关闭</a> </div>
										</div>
									</td>
								#elseif($co.status==2)
									<td><span class="badge badge-success">审核通过</span></td>
								#elseif($!co.status==3)
									<td><span class="badge badge-success">提现成功</span></td>
								#end
								<td>
									#if($co.status==0)
										<a class="btn btn-success btn-mini" onclick="checkWithdraw('$!{co.examineId}',2,this,'','');">通过</a>
										<a class="btn btn-danger btn-mini" href="javascript:void(0)" onclick="checkWithdraw('$!{co.examineId}',1,this,'','');">拒绝</a>
									#elseif($co.status==1)
									#elseif($co.status==2)
										<a  class="btn btn-primary btn-mini" href="javascript:void(0)" onclick="checkWithdraw('$!{co.examineId}',3,this,'$!{co.companyId}','$!date.format('yyyy-MM-dd HH:mm:ss',$co.apliyTime)');">确认提现</a>
									#end
								</td>
							</tr>
							#end
							</tbody>
						</table>
						##分页
						#parse("pagination.vm")
				</div>
                </div>
			</div>
            </div>
		</div>
	</div>
</div>

<div aria-hidden="false" id="refuseModal" class="modal hide in">
	<div class="modal-header">
		<button data-dismiss="modal" class="close" type="button">×</button>
		<h3>请填写拒绝理由</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal form-horizontal-inline" type="post" action="$!{request.getContextPath()}/fm/updateWithDraw.do" id="reasonForm">
			<input type="hidden" id="reasonStatus" name="status" value=""/>
			<input type="hidden" id="reasonNo" name="id" value=""/>
			<div class="row-fluid">
				<div class="span12">
					<div class="control-group">
						<label class="control-label">拒绝理由：</label>
						<div class="controls">
							<input type="text" id="reason" name="reason"/>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" type="button" id="submitReason">提交</button>
		<a data-dismiss="modal" class="btn" href="javascript:;">取消</a>
	</div>
</div>


<div aria-hidden="false" id="alipayModal" class="modal hide in">
	<div class="modal-header">
		<button data-dismiss="modal" class="close" type="button">×</button>
		<h3>请填写流水号</h3>
	</div>
		<input type="hidden" id="numberStatus" name="status" value=""/>
		<input type="hidden" id="id" name="id" value=""/>
		<input type="hidden" id="companyId" name="companyId" value=""/>
		<input type="hidden" id="createTime" name="createTimeStr" value=""/>
	<div class="modal-body">
			<div class="row-fluid">
				<div class="span12">
					<div class="control-group">
						<label class="control-label">流水号：</label>
						<div class="controls">
							<input type="text" id="number" name="alipayNo"/>
						</div>
					</div>
				</div>
			</div>

	</div>
	<div class="modal-footer">
		<button class="btn btn-success" type="button" id="submitNumber">提交</button>
		<a data-dismiss="modal" class="btn" href="javascript:;">取消</a>
	</div>
</div>

<link rel="stylesheet" type="text/css" href="$!{request.getContextPath()}/res/uploadify/uploadify.css" />
<script type="text/javascript" src="$!{request.getContextPath()}/res/uploadify/jquery.uploadify.js"></script>
<script>
    $(function () {
        $('#commit').click(function () {
            var startTime = $('#startTime').val();
            var endTime = $('#endTime').val();
            if (startTime == "") {
                if (endTime != "") {
                    Toast.show("请先选择开始日期");
                    $('#startTime').focus();
                    return false;
                }
            } else {
                if (endTime == "") {
                    Toast.show("请选择结束日期");
                    $('#endTime').focus();
                    return false;
                } else {
                    if (startTime > endTime) {
                        Toast.show("您选择的日期不对，开始日期不能大于结束日期");
                        $('#startTime').focus();
                        return false;
                    }
                }
            }
            $('#form').submit();
        });

        $('#submitReason').click(function () {
            var reason = $('#reason').val();
            if (reason == "") {
                Toast.show("请填写拒绝理由");
                $('#reason').focus();
                return;
            }
            Matrix.JSON({
                showLoad: true,
                type: "POST",
                val: {
                    'id': $('#reasonNo').val(),
                    'reason': $('#reason').val(),
                    'status': $('#reasonStatus').val()
                },
                url: "$!{request.getContextPath()}/comToExamine/updateExamine.do",
                fun: function (data) {
                    if(data.success){
                           Toast.show({
                            template: "审核成功",
                            callback: function () {
                                window.location.reload();
                            }
                          });
                      }else{
                         Toast.show(data.msg);
                      }
                }
            });

        });

        $('#submitNumber').click(function () {
            var number = $('#number').val();
            if (number == "") {
                Toast.show("请填写流水号");
                $('#number').focus();
                return false;
            } else {
              //alert("id:"+$("#id").val()+" companyId:"+$("#companyId").val()+" alipayNo:"+number+" status:"+$("#numberStatus").val()+" createTimestr:"+$("#createTime").val());
              //return;
            
                Matrix.JSON({
                    showLoad: true,
                    type: "POST",
                    val: {
                        'id':$("#id").val(),
                        'companyId':$("#companyId").val(),
                        'alipayNo': number,
                        'status':$("#numberStatus").val() ,
                        'createTimeStr':$("#createTime").val()
                    },
                    url: "$!{request.getContextPath()}/comToExamine/updateExamine.do",
                    fun: function (data) {
                        if(data.success){
                           Toast.show({
                            template: "审核成功",
                            callback: function () {
                                window.location.reload();
                            }
                           });
                       }else{
                         Toast.show(data.msg);
                       }
                    }
                });
            }
        });


        $('#importXls').uploadify({
            'uploader': '$!{request.getContextPath()}/comToExamine/uploadCompanyCashExcel.do',
            'swf': '$!{request.getContextPath()}/res/uploadify/uploadify.swf',
            'cancelImg': '$!{request.getContextPath()}/res/uploadify/uploadify-cancel.png',
            'folder': 'uploads',//您想将文件保存到的路径
            'queueID': 'fileQueue',//与下面的id对应
            'queueSizeLimit': 5,
            'formData': {'gtId': ''},
            'fileTypeDesc': '商品主图',
            'fileTypeExts': '*.xls;*.xlsx', //控制可上传文件的扩展名，启用本项时需同时声明fileTypeDesc
            'fileDataName': 'file',
            'auto': true,
            'multi': true,
            'simUploadLimit': 2,
            'buttonText': '提现导入',
            'onUploadSuccess': function (file, data, response) {//上传完成时触发（每个文件触发一次）
                Toast.show("更新状态成功");
                window.location.reload();
            },
            'onSelectError': function (file, errorCode, errorMsg) {
                switch (errorCode) {
                    case -100:
                        Toast.show("上传的文件数量已经超出系统限制的" + $('#importXls').uploadify('settings', 'queueSizeLimit') + "个文件！");
                        break;
                    case -110:
                        Toast.show("文件 [" + file.name + "] 大小超出系统限制的" + $('#importXls').uploadify('settings', 'queueSizeLimit') + "大小！");
                        break;
                    case -120:
                        Toast.show("文件 [" + file.name + "] 大小异常！");
                        break;
                    case -130:
                        Toast.show("文件 [" + file.name + "] 类型不正确！");
                        break;
                }
            }
        });
    });

    // 显示提现拒绝理由窗口
    function showSingleModal(divId, title, content) {
        var m = $("#" + divId);
        m.find("h3").html(title);
        m.find(".modal-body").html("<p>" + content + "</p>");
        m.modal("show");
    }

    function checkWithdraw(no, status, obj,companyId,createTime) {
        if (status == 2) {//审核通过
            if (confirm("您确认审核通过该笔提现么？")) {
                Matrix.JSON({
                    showLoad: true,
                    type: "POST",
                    val: {
                        'id': no,
                        'status': status
                    },
                    url: "$!{request.getContextPath()}/comToExamine/updateExamine.do",
                    fun: function (data) {
                       if(data.success){
                           Toast.show({
                            template: "审核成功",
                            callback: function () {
                                window.location.reload();
                            }
                          });
                      }else{
                         Toast.show(data.msg);
                      }
                    }
                });
            }
        } else if (status == 3) {//提现成功
            /**if(confirm("您确认通过该笔提现么，通过以后该笔提现已完结")){
			$.post("$!{request.getContextPath()}/fm/updateWithDraw.do", {
				'no' :no,
				'operateStatus':status
			}, function(data) {
				data = eval("(" + data + ")");
				Toast.show("提现成功");
				window.location.reload();
			});	
		   }*/
		  // alert("companyId:"+companyId+" createTime:"+createTime);
            $('#numberStatus').val(status);
            $('#id').val(no);
            $('#companyId').val(companyId);
            $('#createTime').val(createTime);
            $("#alipayModal").modal("show");
        } else if(status==1){//审核不通过
            $('#reasonStatus').val(status);
            $('#reasonNo').val(no);
            $("#refuseModal").find("h3").html(no);
            $("#refuseModal").modal("show");
        }
    }

    function exportWith() {
        if (confirm("你确定导出提现记录么？")) {
            window.location.href = "$!{request.getContextPath()}/fm/exportWithDraw.do";
        }
    }

    function getBeforeDate(n) {
        var n = n;
        var d = new Date();
        var year = d.getFullYear();
        var mon = d.getMonth() + 1;
        var day = d.getDate();
        var hour = d.getHours();
        var minute = d.getMinutes();
        var second = d.getSeconds();
        var s;
        if (day <= n) {
            if (mon > 1) {
                mon = mon - 1;
            } else {
                year = year - 1;
                mon = 12;
            }
        }
        d.setDate(d.getDate() - n);
        year = d.getFullYear();
        mon = d.getMonth() + 1;
        day = d.getDate();
        s = year + "-" + (mon < 10 ? ('0' + mon) : mon) + "-" + (day < 10 ? ('0' + day) : day) + ' ' + hour + ':' + minute + ':' + second;
        return s;

    }
     //最近7天，最近30天的时间查询显示
    function showTime(day) {
       var date = new Date();
	  // console.log(date);
	   var startTime = getBeforeDate(day);
	   //console.log(startTime);
	   $('#startTime').val(startTime);
	   var d = new Date();
       var year = d.getFullYear();
       var mon=d.getMonth()+1;
       var day=d.getDate();
	   var hour = d.getHours();
       var minute = d.getMinutes();
       var second = d.getSeconds();
	
	   var currentDate = getBeforeDate(0);
	   $('#endTime').val(currentDate);
	   form.submit();
        
       // window.location.href = "$!{request.getContextPath()}/comToExamine/getcomToExamine.do?operateStatus=-1&page=1&startTime=" + startTime + "&endTime=" + currentDate;
    }
    function formSubmit(status){
       $("#status").val(status);
       form.submit();
    }
</script>