##频道列表
#parse("/admin/com/common.vm")
#set($layout="/admin/layout/matrix.vm")
<script type="text/javascript">
    Matrix.Nav({"menu": 208, "cmenu": 210});
</script>
<style type="text/css">
	table img{max-width: 100px;}
</style>
<div id="content-header">
    <h1>妈妈圈 | 频道管理</h1>
</div>
<div class="container-fluid">
    <hr>
    <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-list"></i> </span>
            <h5>频道列表</h5>
        </div>
        <div class="widget-content nopadding">
        	<form id="searchFrm" class="form-horizontal form-horizontal-inline" method="get">
        		<div class="row-fluid">
        			<div class="span4">
        				<div class="control-group">
        					<label class="control-label">频道名称：</label>
        					<div class="controls">
        						<input type="text" name="name" value="$!{request.getParameter('name')}">
        					</div>
        				</div>
    				</div>
        		</div>
        		##排序类型
        		<input type="hidden" name="sortType" id="sortType">
        		<input type="hidden" name="sort" id="sort">
        		<div class="form-actions">
        			<button class="btn btn-success" type="submit" id="submitfrom">筛选</button>
					<button class="btn btn-warning" type="reset" id="reset">重置</button>
        			<a class="btn btn-primary" href="javascript:;" id="js-add">添加频道</a>
            		<!-- <a class="btn btn-danger" href="javascript:;" id="js-delete">删除</a> -->
        		</div>
        	</form>
        </div>
        <!-- 添加频道弹窗 -->
        <div class="modal hide in" aria-hidden="false" id="channelModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>添加频道</h3>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                	<input type="hidden" name="channelId" id="channelId">
                    <div class="control-group">
                        <label class="control-label">频道名称：</label>
                        <div class="controls">
                            <input type="text" maxlength="5" name="channelName" id="channelName" placeholder="最多输入5个汉字">
                            <span class="help-block">(APP客户端频道名称显示)</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">频道简介：</label>
                        <div class="controls">
                            <input type="text" maxlength="15" name="channelDesc" id="channelDesc" placeholder="最多输入15个汉字">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">频道图片：<br>(图片尺寸至少150*150px)</label>
                        <div class="controls">
                        	<span class="up-photo">
                                <input name="channelPic" id="channelPic-hidden" type="hidden" value=""/>
                                <span id="channelPicName"></span>
                                <div class="up-pic" id="channelPic-pic">
                                    <img src="$!{request.getContextPath()}/res/images/photo-default.png">
                                </div>
                                <div class="up-btn" data-id="channelPic"><a href="javascript:;" id="channelPic" class="btn">选择图片</a></div>
                            </span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">是否官方：</label>
                        <div class="controls">
							<label class="span1"><input type="radio" name="isOfficial" value=1 checked="checked">是</label>
							<label class="span1"><input type="radio" name="isOfficial" value=0 >否</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"><a href="javascript:;" class="btn btn-primary" id="js-save">保存</a><a href="javascript:;" class="btn" data-dismiss="modal">取消</a> </div>
        </div>
        <div class="widget-content">
			<table class="table table-hover with-check table-text-center table-bordered">
				<thead>
					<tr>
						<th>频道ID</th>
						<th>频道名称</th>
						<th style="max-width:300px">频道简介</th>
						<th>频道缩略图</th>
						#set($sort = $request.getParameter("sort"))
						#set($sortType = $request.getParameter("sortType"))
						<th><a href="javascript:;" class="js-sort" data-sort-type=3 data-up=#if($sortType == 3 && $sort == 0)1#else 0#end >是否官方<span>#if($sortType == 3 && $sort == 0)↑#else ↓#end</span></a></th>
						<th><a href="javascript:;" class="js-sort" data-sort-type=1 data-up=#if($sortType == 1 && $sort == 0)1#else 0#end >话题数<span>#if($sortType == 1 && $sort == 0)↑#else ↓#end</span></a></th>
						<th><a href="javascript:;" class="js-sort" data-sort-type=2 data-up=#if($sortType == 2 && $sort == 0)1#else 0#end >关注数<span>#if($sortType == 2 && $sort == 0)↑#else ↓#end</span></a></th>
						<th>创建时间</th>
						<th>排序</th>
						<th><a href="javascript:;" class="js-sort" data-sort-type=5 data-up=#if($sortType == 5 && $sort == 0)1#else 0#end >状态<span>#if($sortType == 5 && $sort == 0)↑#else ↓#end</span></a></th>
						<th width="80px">操作</th>
					</tr>
				</thead>
				<tbody>
					#foreach($channel in $result)
					<tr data-channel-id="$!channel.channelId" data-isofficial="$!channel.isofficial" data-status="$!channel.status">
						<td>$!{channel.channelId}</td>
						<td>$!{channel.name}</td>
						<td>$!{channel.channelDesc}</td>
						<td><img src="#if($channel.thumbnail)${topicImagePath}0/$channel.thumbnail#else $!{request.getContextPath()}/res/images/photo-default.png#end" alt=""></td>
						<td>#if($channel.isofficial==1)是#else否#end</td>
						<td>#converCount($channel.topicCount,10000)</td>
						<td>#converCount($channel.followCount,10000)</td>
						
						<td>$!date.format('yyyy-MM-dd HH:mm:ss',$!{channel.createTime})</td>
						<td><input class="js-order" type="text" maxlength="3" style="width:30px;" value="$!{channel.sort}" data-sort="$!{channel.sort}"></td>
						<td>
							#if($channel.status == 1)
							<span class="label label-success">已启用</span>
							#else
							<span class="label label-warning">已停用</span>
							#end
						</td>
						<td>
							#if($channel.status == 0)
							<a class="btn btn-success btn-mini js-open" href="javascript:;">启用</a>
							#else
							<a class="btn btn-danger btn-mini js-close" href="javascript:;">停用</a>
							#end
							<a class="btn btn-primary btn-mini js-edit" href="javascript:;">编辑</a>
						</td>
					</tr>
					#end
				</tbody>
			</table>
			##分页
			#parse("/pagination.vm")
        </div>
    </div>
</div>
<script type="text/javascript" src="$!{request.getContextPath()}/res/uploadify/jquery.uploadify.js"></script>
<script type="text/javascript">
	var VM = {
		rootPath: '$!{request.getContextPath()}',
		imgPath: '$imgpath',
        topicImagePath: '$topicImagePath'
	}
</script>
<script type="text/javascript" src="http://s.mamhao.cn/admin/yy/js/channel_list.js"></script>