#parse("/admin/com/common.vm")
#set($layout="/admin/layout/matrix.vm")
<div id="content-header">
	<h1>订单管理 | 财务订单导出</h1>
</div>
<div class="container-fluid">
	<hr>
	<div class="row-fluid">
		<div class="span12">
    	<div class="widget-box">
	        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
	          <h5>导出条件</h5>
	        </div>
            <div class="widget-content nopadding">
            	<form id="orderForm" name="orderForm" method="get" class="form-horizontal form-horizontal-inline row-fluid">
                	<div class="row-fluid">
                    <div class="span6">
                      <div class="control-group">
                        <label class="control-label">时间*：</label>
                        <div class="controls">
                          <input id="beginDate" class="span3" type="text" name="beginDate" value="$!{beginDate}" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'endDate\')}'})"/>
                          <span class="notepad-inline">至</span>
                          <input id="endDate" class="span3" type="text" name="endDate" value="$!{endDate}" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'beginDate\')}'})"/> 
                        </div>
                      </div>
                    </div>
                  </div>
				  <div class="form-actions">
                	<div class="btn-group tip-right" data-original-title="由于订单数据量大，导出速度比较慢，请点击“生成订单数据”，稍后再进行数据下载(导出excel表格)。">
                      <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">生成 <span class="caret"></span></button>
                      <ul class="dropdown-menu" id="exportOrder"></ul>
                    </div>
						#if($account.username == 'pangpeijie')
                            <input id="createFinanceOrderData" type="submit" value="生成财务统计数据" class="btn btn-success"/>
						#end
                  </div>
                </form>
            </div>
        </div>
        </div>
    </div>
    </div>

<script type="text/javascript">
	Matrix.Nav({"menu": 116, "cmenu": 175});
	//获取正在导出的导出数据
	function buildingOrderExport(){
		Matrix.JSON({
			showLoad: true,
			type: "POST",
			url: root + "/order/queryFinanceOrderFinishingNotice.do",
			fun: function(result){
				var result = eval(result);
				if(result != null){
					//数据正在导出中
					var html = '<li><a href="javascript:void(0)">正在生成订单数据，请稍后下载（数据更新时间：'+getLocalTime(result.createTime)+'）</a></li>';
					$("#exportOrder").append(html);
				}else{
					var html = '<li><a href="javascript:exportOrder();">生成订单数据（后台生成数据，稍后才能进行导出）</a></li>';
					$("#exportOrder").append(html);		
				}
			}
		});
	}
	buildingOrderExport();
	
	//导出按钮
	function exportOrder(){
		if($("#beginDate").val() == "" || $("#endDate").val() == ""){
			Toast.show("请填写时间");
			return false;
		}
		$("#orderForm").attr("action","$!{request.getContextPath()}/order/financeOrder.do");
		document.getElementById("orderForm").submit();
	};

	//生成财务订单数据
	$("#createFinanceOrderData").bind("click",function(){
        if($("#beginDate").val() == "" || $("#endDate").val() == ""){
            Toast.show("请填写时间");
            return false;
        }
        $("#orderForm").attr("action","$!{request.getContextPath()}/order/createFinanceOrderData.do");
        document.getElementById("orderForm").submit();
	});
	
	//获取订单下载列表
	function buildOrderExport(){
		Matrix.JSON({
			showLoad: true,
			type: "POST",
			url: root + "/order/queryFinanceOrderFinishNotice.do",
			fun: function(result){
				if(result && typeof(result)!="undefined"){
					//数据已完成导出
					var html = '<li><a href="'+root+"/"+result.message+'">订单数据下载（数据更新时间：'+getLocalTime(result.updateTime)+'）</a></li>';
					$("#exportOrder").append(html);
				}
			}
		});
	}
	buildOrderExport();
	
	//日期函数
	function getLocalTime(nS) {   
        return new Date(parseInt(nS)).toLocaleString().replace(/年|月/g, "-").replace(/日/g, " ");    
    }
	
</script>