##运营分公司管理
#set($layout="/admin/layout/matrix.vm")
<script type="text/javascript">
	Matrix.Nav({"menu": 100, "cmenu": 265});
</script>
<script type="text/javascript" src="$!{request.getContextPath()}/res/js/prvCityArea.js"></script>
<div id="content-header">
    <h1>商户管理| 事业部审核</h1>
</div>
<input type="hidden" name="status" value="$!status"/>
<div class="container-fluid">
	<hr>
	<div class="row-fluid">
	  	<div class="span12">
	    	<div class="widget-box">
	    		<div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
		          	<h5>事业部列表</h5>
		        </div>
              	<div class="widget-content nopadding">
              		<form class="form-horizontal form-horizontal-inline" method="get" action="$!{request.getContextPath()}/gb/division/v_list.do">
              		   <input type="hidden" name="status" value="$!status"/>
              			<div class="row-fluid">
                            <div class="span5">
                                <div class="control-group">
                                    <label class="control-label">事业部编码：</label>
                                    <div class="controls">
                                        <input id="" type="text" name="divNumId" value="$!{request.getParameter('divNumId')}" />
                                    </div>
                                </div>
                            </div>
                            <div class="span5">
                                <div class="control-group">
                                    <label class="control-label">事业部名称：</label>
                                    <div class="controls">
                                        <input id="" type="text" name="divName" value="$!{request.getParameter('divName')}" />
                                    </div>
                                </div>
                            </div>
						</div>
						<div class="row-fluid">
							<div class="span5">
								<div class="control-group">
									<label class="control-label">总经理姓名：</label>
									<div class="controls">
										<input id="" type="text" name="managerName" value="$!{request.getParameter('managerName')}" />
									</div>
								</div>
							</div>
							<div class="span5">
								<div class="control-group">
									<label class="control-label">联系方式：</label>
									<div class="controls">
										<input id="" type="text" name="managerPhone" value="$!{request.getParameter('managerPhone')}" />
									</div>
								</div>
							</div>
						</div>

						<div class="form-actions">
				            <button class="btn btn-success" type="submit" id="next">筛选</button>
							<button class="btn btn-success" type="reset" id="next">重置</button>
			            </div>
              		</form>
              	</div>

              	<div class="widget-content">
	            	<div class="widget-box widget-tabs-box">
			          	<ul class="nav nav-tabs">
                            <li class="#if($!{request.getParameter('status')}==-1 || $!{request.getParameter('status')} =='') active #end"><a href="$!{request.getContextPath()}/gb/division/v_list.do?status=-1" >全部</a></li>
				            <li class="#if($!{request.getParameter('status')}==0) active #end"><a href="$!{request.getContextPath()}/gb/division/v_list.do?status=0" >待编辑</a></li>
				            <li class="#if($!{request.getParameter('status')}==2) active #end"><a href="$!{request.getContextPath()}/gb/division/v_list.do?status=2" >待审核</a></li>
                            <li class="#if($!{request.getParameter('status')}==4) active #end"><a href="$!{request.getContextPath()}/gb/division/v_list.do?status=4" >已拒绝</a></li>
				            <li class="#if($!{request.getParameter('status')}==1) active #end"><a href="$!{request.getContextPath()}/gb/division/v_list.do?status=1" >已通过</a></li>
				            <li class="#if($!{request.getParameter('isDelete')}==1) active #end"><a href="$!{request.getContextPath()}/gb/division/v_list.do?isDelete=1" >已删除</a></li>
				        </ul>

				        <div class="widget-content tab-content">
			            	<!-- 选项卡 -->
			            	<div id="tab1" class="tab-pane active">
			              	<table class="table table-hover table-text-center">
			              		<thead>
	    							<tr>
	    								<th>事业部编码</th>
	                        			<th>事业部名称</th>
	                        			<th>总经理姓名</th>
	                        			<th>联系电话</th>
	                        			<th>状态</th>
	                        			<th>操作</th>
	    							</tr>
								</thead>
								<tbody>
								 #foreach($!data in $!{dataList})
	                        		<tr>
	                        			<td>$!data.divNumId</td>
	                        			<td class="js-divName">$!{data.divName}</td>
										<td >$!{data.managerName}</td>
	                        			<td>$!{data.managerPhone}</td>
	                        			<td>
                                            #if($!{data.status}==0)
                                                待编辑
                                            #elseif($!{data.status}==1)
                                                已通过
                                            #elseif($!{data.status}==2)
                                                待审核
                                            #elseif($!{data.status}==3)
                                                已删除
                                            #elseif($!{data.status}==4)
                                                已拒绝
                                            #end

										</td>
	                        			<td>
	                        			  	<div class="commodity_operat">
                                                <a class="btn btn-danger btn-mini" href="$!{request.getContextPath()}/gb/division/showDivInfo.do?divNumId=$!{data.divNumId}" >查看信息</a>
	                        			  	</div>
	                        			</td>
	                        		 </tr>
	                    		  #end
								</tbody>

							</table>
							#parse("/pagination.vm")
							</div>
						</div>
				    </div>
				</div>
            </div>
        </div>
    </div>
</div>
<div aria-hidden="false" id="inline_content" class="modal hide in">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">×</button>
        <h3>编辑</h3>
    </div>
    <form method="post" action="" id="frm-company-info">
        <div class="modal-body">
            <div class="form-horizontal">
                <input type="hidden" name="divNumId" />
                <input type="hidden" name="status" />
                <input type="hidden" name="cityAreaNumId" />
                <input type="hidden" name="userId" />
                <input type="hidden" name="flag">
                <div class="row-fluid">
                    <div class="control-group">
                        <label class="control-label">用户名：</label>
                        <div class="controls">
                            <input type="text" name="userName" maxlength="30" />
                        </div>
                        <label class="control-label">密码：</label>
                        <div class="controls">
                            <input type="password" name="password" value="123456"/>
                            <span class="help-block">不填写默认密码为 123456</span>
                        </div>
                        <label class="control-label">事业部编码：</label>
                        <div class="controls">
                            <input type="text" name="divNumId" maxlength="32" readonly="readonly"/>
                        </div>
                        <label class="control-label">事业部名称：</label>
                        <div class="controls">
                            <input type="text" name="divName" maxlength="64" readonly="readonly"/>
                        </div>
                        <label class="control-label">总经理姓名：</label>
                        <div class="controls">
                            <input type="text"  name="managerName" maxlength="32" readonly="readonly"/>
                        </div>
                        <label class="control-label">总经理手机号码：</label>
                        <div class="controls">
                            <input type="text" name="managerPhone" maxlength="12" readonly="readonly"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" id="commit">确定</button>
            <a data-dismiss="modal" class="btn" href="javascript:;">关闭</a>
        </div>
    </form>
</div>
<script type="text/javascript">
	$(function(){
		 getPrv('$!gbDiv.gbPrv.prvNumId'); //省
		 showCity('$!gbDiv.gbPrv.prvNumId', '$!gbDiv.gbCity.cityNumId');  //市
		 showArea('$!gbDiv.gbCity.cityNumId','$!gbDiv.gbCityArea.cityAreaNumId');	//区
	});

    $('#commit').click(function() {
        if($("input[name='userName']").val()==""){
            $("input[name='userName']").focus();
            Toast.show("请填写用户名");
            return;
        }

        if($("input[name='password']").val()==""){
            $("input[name='password']").val("123456");
        }

        $.post('update.do',$("#frm-company-info").serializeArray(),function(data) {
            Toast.show(data.msg);
            if (data.result == 1) {
                location.reload();
            }else{
                $('input[name="managerName"]').focus();
            }
        });
    });
    $(".js-edit").bind("click",function() {
        var t = $(this);
        setArgs(t,'add');

        $(t.attr("mid")).modal("show");
    });

    $(".js-modify").bind("click",function() {
        var t = $(this);
        setArgs(t,'edit');
        $('input[name="userName"]').attr('readonly',true);
        $(t.attr("mid")).modal("show");
    });

    $(".js-delete").click(function() {
        var id = $(this).attr("divNumId");
        if($(this).attr("status") == '4'){
            deleteCompany(id,2);
        }else{
            deleteCompany(id,0);
        }
    });
    function setArgs(t,option){
        var divNumId = t.attr('divNumId');
        var status = t.attr('status');
        var phone = t.attr('phone');
        var userName = t.attr('username');
        var userId = t.attr('userid');

        var divSimNo = t.parents("tr").find('.js-divSimNo').text();
        var divName = t.parents("tr").find('.js-divName').text();
        var managerName = t.parents("tr").find('.js-managerName').text();
        var managerPhone = t.parents("tr").find('.js-managerPhone').text();

        $('input[name="divNumId"]').val(divNumId);
        $('input[name="status"]').val(1);
        $('input[name="divSimNo"]').val(divSimNo);
        $('input[name="divName"]').val(divName);
        $('input[name="contEmpe"]').val(managerName);
        $('input[name="userName"]').val(userName);
        $('input[name="userId"]').val(userId);
        $('input[name="contEmpeTelePhone"]').val(managerPhone);
        $('input[name="flag"]').val(option);
    }
    function update(id,flag,status,userId) {
        var ret;
        if(flag == 1){
           ret =  confirm('确定要删除该事业部信息吗?');
        }else{
            ret =  confirm('确定要恢复事业部信息吗?');
        }
        if (!ret) {
            return;
        }
        $.post('delete.do', {"divNumId" : id,"status":status,"userId":userId}, function(data) {
            if (data.result == 1) {
                Toast.show("删除成功");
                //删除已删除的行
                $('#delete-' + id).parent().parent().remove();
            } else {
                Toast.show("删除失败，请重试");
            }
        });
    }
</script>

