#parse("/admin/com/common.vm")
#set($layout="/admin/layout/matrix.vm")

#set($defaultGroupIcon='default_group_icon.png')
#set($isAuto= $request.getParameter('isAuto'))
#set($platformType= $!{searchVo.platformType})
#if(!$isAuto) #set($isAuto=1)#end
#set($sort = $request.getParameter("sort"))
#set($year = ${searchVo.year})
#set($breedStep = $request.getParameter("breedStep"))
#set($ChineseZodiacArrray = ["鼠","牛","虎","兔","龙","蛇","马","羊","猴","鸡","狗","猪"])
#if(${year}>1900)
    #set($zodiac = ($year - 1900) % 12)
    #set($zodiacStr = $!{ChineseZodiacArrray.get($!{zodiac})}+'年')
#end
<style>
    ul{margin-left:0;list-style:none;}
    .up-load-img{margin:0!important;}
    .up-load-img:empty{display:none;}
    .groupDesc,.groupName{width:95%;}
    .groupIcon{width: 100px}
    .editMode #modal-city{display: none}
    .addMode #cityName{display: none}
</style>
<script type="text/javascript">
    Matrix.Nav({"menu": 208, "cmenu": 212});
</script>
<div id="content-header">
    <h1>妈妈圈 | 群列表</h1>
</div>
<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>群列表</h5>
            </div>
 
 
            <div class="widget-content nopadding">
                <form class="form-horizontal form-horizontal-inline" method="get" id="frm" action="">

#if($platformType != 1)
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label">所在区域：</label>

                                <div class="controls">
                                    <select id="prv" class="span6" onchange="showCity(this.value)" name="prvNumId">
                                        <option value="$!{request.getParameter("prvNumId")}">请选择省</option>
                                    </select>
                                    <select id="city" class="span6" name="cityNumId">
                                        <option value="$!{request.getParameter("cityNumId")}">请选择市</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">孕育阶段：</label>

                                <div class="controls">
                                    <select id="breedStep" class="span10" name="breedStep">
                                        <option value="">全部</option>
                                        <option value="0" #if($breedStep==0)selected#end>无孕育阶段</option>
                                        <option value="1" #if($breedStep==1)selected#end>怀孕</option>
                                        <option value="2" #if($breedStep==2)selected#end>已有宝宝</option>
                                        <option value="3" #if($breedStep==3)selected#end>备孕</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        #if($isAuto==0)
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label">会员等级：</label>

                                    <div class="controls">
                                        <select class="span10" name="LevelLimit">
                                            <option value="0">普通用户</option>
                                            <option value="1">粉丝会员</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        #end
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label">生肖年份：</label>
                                <div class="controls">
                                    <input class="datepicker" type="text" name="year" value="$!{year}" readonly>
                                    <span class="label label-info zodiac">$!{zodiacStr}</span>
                                </div>
                            </div>
                        </div>
                    </div>

#else
                    <div class="span4">
                        <div class="control-group">
                            <label class="control-label">群名称：</label>

                            <div class="controls">
                                <input type="text" class="" name="groupName" maxlength="" value='$!{request.getParameter("groupName")}' placeholder="请输入专家姓名">
                            </div>
                        </div>
                    </div>
				#end                    
                    
                    <div class="row-fluid">
                        <div class="form-actions">
                            ##排序类型
                            <input type="hidden" name="isAuto" id="isAuto" value="$!{isAuto}">
                            <input type="hidden" name="sort" id="sort" value="$!{sort}">
                            <input type="hidden" name="platformType" id="platformType" value="$!{platformType}">
                        #if(($platformType!=1 && $!{isAuto}==0) || $platformType==1)
                            <button class="btn btn-success js-add-group" type="button">添加</button>
                        #end
                            <button class="btn btn-primary" type="submit">筛选</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="widget-content">
                <div class="widget-box widget-tabs-box">
                    <!-- 选项卡 -->
                    <ul class="nav nav-tabs">
                    	
                		<li#if($platformType !=1 && $isAuto!=0) class="active"#end>
                			<a href="$!{request.getContextPath()}/mmq/group/queryGroupList.do?">同城同龄自动加入群</a>
            			</li>
                        <li#if($platformType !=1 && $isAuto==0) class="active"#end>
                        	<a href="$!{request.getContextPath()}/mmq/group/queryGroupList.do?isAuto=0">推荐用户自主加入群</a>
                    	</li>
                		<li #if($platformType ==1)  class="active" #end >
                			<a href="$!{request.getContextPath()}/mmq/group/queryGroupList.do?platformType=1">专家义诊群</a>
                		</li>
                    </ul>

                    <div class="widget-content tab-content">
                        <div class="tab-pane active">
                            <table class="table table-hover table-text-center">
                                <tr>
                                    <th>群组ID</th>
                                    <th>群名称</th>
                                    <th>群简介</th>
                                    <th>群ICON</th>
                                    <th>
                                        #if(!$sort)#set($sort=1)#end
                                        <a href="javascript:;" class="js-sort" #if($sort==2)data-sort="1"#else data-sort="2"#end>人数 <span>#if($sort==2)↑#else↓#end</span></a>
                                    </th>
									<th>
                                        <a href="javascript:;" class="js-sort" #if($sort==3)data-sort="4"#else data-sort="3"#end>群状态<span>#if($sort==3)↑#else↓#end</span></a>
                                    </th>
                                #if($platformType != 1)
                                    <th>孕育阶段</th>
                                    <th>城市</th>
                                    <th>会员等级</th>
                                #end
                                    <th>操作</th>
                                </tr>
                                #foreach($data in $dataList)
                                    <tr data-info='{"groupId":"$!{data.groupId}","groupName":"$!{data.groupName}","groupDesc":"$!{data.groupDesc}","groupIcon":"$!{data.groupIcon}","curNum":"$!{data.curNum}","breedStep":"$!{data.breedStep}","integralLevelLimit":"$!{data.integralLevelLimit}","proviceId":"$!{data.proviceId}","cityId":"$!{data.cityId}","cityName":"$!{data.cityName}","isAuto":"$!{data.isAuto}"}'>
                                        <td>$!{data.easemobGroupId}</td>
                                        <td>$!{data.groupName}</td>
                                        <td width="20%">$!{data.groupDesc}</td>
                                        <td><img class="groupIcon" src="$!{topicImagePath}0/$!{data.groupIcon}" alt="logo"></td>
                                        <td>$!{data.curNum}</td>
#if($platformType != 1)				
										<td><span class="badge badge-info">#if($!{data.isFull}==1)已满过  #else 未满 #end</span></td>
                                    ##孕育状态,0 无孕育阶段，1 怀孕，2 已有宝宝，3 备孕
                                        <td>#if($!{data.breedStep}==0)无孕育阶段
                                        #elseif($!{data.breedStep}==1)怀孕
                                        #elseif($!{data.breedStep}==2)
											#if(1900 < $!{data.year})
												#set($Zodiac = ($!{data.year} - 1900) % 12)
												已有宝宝-$!{data.year}年($ChineseZodiacArrray.get($!{Zodiac})年)
											#else
												已有宝宝
											#end
											
                                        #elseif($!{data.breedStep}==3)备孕#end
                                        </td>
                                        <td>$!{data.cityName}</td>
                                        <td>
											#if($!{data.integralLevelLimit} == 0) 普通会员
											#elseif($!{data.integralLevelLimit} == 1) 粉丝会员
											#end
										</td>
#end
                                        <td>
                                            <a class="btn btn-mini btn-success"
                                               href="$!{request.getContextPath()}/mmq/group/queryGroupMemberList.do?groupId=$!{data.groupId}">查看群成员</a>
                                            <button type="button" class="btn btn-mini btn-primary js-edit-group">编辑</button>
											#if($!{data.isAuto} == 0)
                                            <button type="button" class="btn btn-mini btn-danger js-remove-group">删除</button>
											#end
                                        #if($platformType ==1)
                                            <a class="btn btn-mini btn-info"
                                               href="$!{request.getContextPath()}/mmq/group/queryExpertGroupStatInfo.do?groupId=$!{data.groupId}&groupName=$!{data.groupName}">统计</a>
                                        #end
                                        </td>
                                    </tr>
                                #end
                            </table>
                            #parse("pagination.vm")

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="false" id="groupModal" class="modal hide modal-lg fade">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">×</button>
        <h3>添加同城同龄自动加入群</h3>
    </div>
    <form method="post" action="">
        <input type="hidden" name="platformType" id="platformType" value="$!{platformType}">
        
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="row-fluid">
                    <div class="control-group">
                        <label class="control-label"><i>*</i>群名称：</label>

                        <div class="controls">
                            <input type="text" class="groupName" name="" maxlength="10" #if($platformType != 1) placeholder="最多10个汉字，例如：杭州同龄宝妈群" #else placeholder="最多10个汉字，例如：曹兰芳专家义诊群" #end ></input>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"><i>*</i>群简介：</label>

                        <div class="controls">
                            <input type="text" class="groupDesc" name="" maxlength="40" placeholder="最多40个汉字"></input>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"><i>*</i>群头像：</label>

                        <div class="controls">
                            <ul class="thumbnails up-load-img main">
                                <li>
                                    <img class="groupIcon" src="${topicImagePath}0/${defaultGroupIcon}" data-filename="${defaultGroupIcon}">
                                </li>
                            </ul>
                            <div class="option">
                                <div>
                                    <span class="up-photo">
                                        <input name="stylePic" id="stylePic-hidden" type="hidden" value=""/>
                                        <div class="up-btn mult-up-btn" data-id="stylePic" data-size="150x150">
                                            <a href="javascript:;" id="stylePic" class="btn">上传图片</a>
                                        </div>
                                    </span>
                                </div>
                                <div><span class="label label-info">(备注:图片尺寸至少150px*150px，宽高比例为1：1)</span></div>
                            </div>
                        </div>
                    </div>

#if($platformType != 1)
                    <div class="control-group">
                        <label class="control-label">选择城市：</label>

                        <div class="controls">
                            <select id="modal-prv" class="span4 proviceId" onchange="showCity(this.value,null,this)" name="prvNumId">
                                <option value="">请选择省</option>
                            </select>
                            <select id="modal-city" class="span4 cityId" name="cityNumId">
                                <option value="">请选择市</option>
                            </select>
                            <select name="cityName" id="cityName" disabled></select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">选择孕育阶段：</label>

                        <div class="controls">
                            <select class="span4 breedStep" name="breedStep" value="0">
                                <option value="0">无孕育阶段</option>
                                <option value="1">怀孕</option>
                                <option value="2">已有宝宝</option>
                                <option value="3">备孕</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">选择会员等级：</label>

                        <div class="controls">
                            <select class="span4 integralLevelLimit" name="LevelLimit" value="0">
                                <option value="0">普通用户</option>
                                <option value="1">粉丝会员</option>
                            </select>
                        </div>
                    </div>
#end
                    
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button class="btn btn-success submit js-modal-submit" type="button">确定</button>
        <a data-dismiss="modal" class="btn" href="javascript:;">关闭</a>
    </div>
</div>

<script type="text/javascript" src="$!{request.getContextPath()}/res/uploadify/jquery.uploadify.js"></script>
<script type="text/javascript" src="$!{request.getContextPath()}/res/js/prvCityArea.js"></script>
<script>
    var VM = {
        "rootPath": '$!{request.getContextPath()}',
        "goodsImagePath": '$!{goodsImagePath}',
        "imgpath": '$!{imgpath}',
        "topicImagePath": '$!{topicImagePath}',
        "isAuto": $!{isAuto},
        "defaultGroupIcon":'${defaultGroupIcon}'
    }
</script>
<script src="http://s.mamhao.cn/admin/yy/js/group-list.js"></script>