##每月购普通商品
#parse("/admin/com/common.vm")
#set($layout="/admin/layout/matrix.vm")
<style>
    .short{width:50px;}
		.mobile-pop-all .footer{ padding:5px;}
		.mobile-pop-all .footer input{ margin-bottom:0;}
</style>
<script type="text/javascript">
    Matrix.Nav({"menu": 215, "cmenu": 216});
</script>
<div id="content-header">
  <h1>会员购 | 会员购商品管理</h1>
</div>
<div class="container-fluid">
  <hr>
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box widget-tabs-box">
        <ul class="nav nav-tabs">
          <li class="active"><a href="$!{request.getContextPath()}/purchase/goods/index.do?type=0">普通商品</a></li>
          <li><a href="$!{request.getContextPath()}/purchase/goods/plan.do?type=1">众筹商品</a></li>
        </ul>
        <div class="widget-content nopadding">
          <form action="$!{request.getContextPath()}/purchase/goods/index.do?type=0" class="form-horizontal form-horizontal-inline row-fluid" id="form-search">
            <input name="groupFlag" type="hidden" value="$!purchaseGoodsSearchDto.groupFlag">
            <input name="type" type="hidden" value="$!purchaseGoodsSearchDto.type">
              <div class="row-fluid">
              <div class="span3">
                <div class="control-group">
                  <label class="control-label">商品名称：</label>
                  <div class="controls">
                    <input type="text" class="span12" name="goodsTitle" value="$!purchaseGoodsSearchDto.goodsTitle">
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="control-group">
                  <label class="control-label">商品ID：</label>
                  <div class="controls">
                    <input type="text" class="span12" name="styleNumId" value="$!purchaseGoodsSearchDto.styleNumId">
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="control-group">
                  <label class="control-label">款式编码：</label>
                  <div class="controls">
                    <input type="text" class="span12" name="styleId" value="$!purchaseGoodsSearchDto.styleId">
                  </div>
                </div>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span8">
              	<div class="control-group">
                  <label class="control-label">商品类目：</label>
                  <div class="controls">
                      <select id="category-1" name="firstType" onchange="CategoryTwo(this.value)" class="span2" >
                          <option value="">请选择</option>
                        #foreach($g in $glist)
                            <option value="$g.gtId" #if($gbs.styleCatelogFirst ==$g.gtId) selected #end>$g.gtName</option>
                        #end
                      </select>
                      <select id="category-2" name="secondType" onchange="CategoryThree(this.value)" class="span2">
                          <option value="">请选择</option>
                      </select>
                      <select id="category-3" name="thirdType" class="span2">
                          <option value="">请选择</option>
                      </select>
	                </div>
                </div>
              </div>
                <div class="span4">
                    <div class="control-group">
                        <label class="control-label">状态：</label>
                        <div class="controls">
                            <select name="pgStatus" class="span6">
                                <option value="">全部</option>
                                <option value="0" #if($!purchaseGoodsSearchDto.pgStatus == 0)selected #end >失效</option>
                                <option value="1" #if($!purchaseGoodsSearchDto.pgStatus == 1)selected #end>生效</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
              #*
            <div class="row-fluid">
              <div class="span3">
              	<div class="control-group">
                  <label class="control-label">推荐对象：</label>
                  <div class="controls">
		              	<select name="rcmdObjType" class="span12 js-beau">
                            <option value="">全部</option>
                            <!-- <option value="0">备孕</option> -->
                            <option value="1">孕妈</option>
                            <option value="2">宝妈</option>
                        </select>
	                </div>
                </div>
              </div>
              <div class="span8">
              	<div class="control-group js-age-condition none">
                  <label class="control-label">搜索条件：</label>
                  <div class="controls">
                      <input name="rcmdObjBeginDays" type="hidden" />
                      <input name="rcmdObjEndDays" type="hidden"/>
		              	<p>
                            预产期前
                            <span><input type="text" data-name="BeginMs" maxlength="2" />个月</span>
                            --
                            <span><input type="text" data-name="EndMs" maxlength="2" />个月</span>
                        </p>
                        <p>
                            宝宝年龄
                            <span><input type="text" data-name="BeginYs" maxlength="2" />岁<input type="text" data-name="BeginMs" maxlength="2" />个月</span>
                            --
                            <span><input type="text" data-name="EndYs" maxlength="2" />岁<input type="text" data-name="EndMs" maxlength="2" />个月</span>
                            | 宝宝性别：
                            <select name="babySex">
                                <option value="">不限</option>
                                <option value="1" #if($!purchaseGoodsSearchDto.babySex == 1) selected #end>王子</option>
                                <option value="2" #if($!purchaseGoodsSearchDto.babySex == 2) selected #end>公主</option>
                            </select>
                        </p>
	                </div>
                </div>
              </div>
            </div>
*#
            <div class="row-fluid">
                <div class="span4">
                    <div class="control-group">
                        <label class="control-label">始用阶段：</label>
                        <div class="controls">
                            <select name="useStage" class="span8">
                                <option value="">全部</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="control-group">
                        <label class="control-label">宝宝性别：</label>
                        <div class="controls">
                            <select name="babySex">
                                <option value="">不限</option>
                                <option value="1" #if($!purchaseGoodsSearchDto.babySex == 1) selected #end>王子</option>
                                <option value="2" #if($!purchaseGoodsSearchDto.babySex == 2) selected #end>公主</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="control-group">
                        <label class="control-label">上架状态：</label>
                        <div class="controls">
                            <select name="online">
                                <option value="">不限</option>
                                <option value="0" #if($!purchaseGoodsSearchDto.online == 0) selected #end>已下架</option>
                                <option value="1" #if($!purchaseGoodsSearchDto.online == 1) selected #end>已上架</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
              <button type="button" id="searchBtn" class="btn btn-success">筛选</button>
              <button class="btn btn-warning" type="reset" id="reset">重置</button>
              <a class="btn btn-primary" href="$!{request.getContextPath()}/purchase/goods/toAddNormalGoods.do">添加普通商品</a>
            </div>
          </form>
        </div>
        <div class="widget-content">
        	<ul class="nav nav-tabs">
            <li #if(!$!purchaseGoodsSearchDto.groupFlag) class="active" #end ><a href="$!{request.getContextPath()}/purchase/goods/index.do?groupFlag=false&type=0">单品</a></li>
            <li #if($!purchaseGoodsSearchDto.groupFlag) class="active" #end ><a href="$!{request.getContextPath()}/purchase/goods/index.do?groupFlag=true&type=0">组合</a></li>
          </ul>
          <div class="widget-content" id="goods-list">
          	<table class="table table-text-center table-goods table-border">
            	<thead>
                <tr>
                  <th>&nbsp;</th>
                  <th width="300">商品名称</th>
                  <th>商品ID</th>
                  <th>款式编码</th>
                  <th>类目标签</th>
                  <th>首页标题</th>
                  <th>始用阶段</th>
                  <th>推荐对象</th>
                  #if($!purchaseGoodsSearchDto.groupFlag)
                    <th>组合导购页</th>
                  #end
                  <th>上架状态</th>
                  <th>排序值</th>
                  <th>单品导购页</th>
                  ##<th>质检报告</th>
                  <th>状态</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                #foreach($!data in $!list)
                  <tr data-id="$!data.pgGroupId">
                      <td>
                      #if($!purchaseGoodsSearchDto.groupFlag)
                      	<label><input type="checkbox" name="gtIds" value="$!data.pgGroupId"></label>
                      #else
                        <label><input type="checkbox" name="gtIds" value="$!data.pgId"></label>
                      #end
                      </td>
                      <td class="text-left baobei">
                        <span class="pic">
                            #if("$!{data.gbStyle.stylePic}"=="")
                                <img src="http://s.mamhao.cn/admin/bootstrap/img/photo-default.png" />
                            #else
                                <img src="$goodsImagePath/$!data.gbStyle.styleId/$!{data.gbStyle.stylePic}" />
                            #end
                        </span>
                        <div class="desc">
                          <p>
                              <a href="javascript:void(0)" onclick="showHtml(this,'$!{data.gbStyle.styleNumId}')">$!data.gbStyle.styleTitle</a></p>
                        </div>
                    </td>
                      <td>
                         $!data.gbStyle.styleNumId
                      </td>
                      <td>$!data.gbStyle.styleId</td>
                      <td>
                            #if(!$!purchaseGoodsSearchDto.groupFlag)
                                $!data.pgThirdCatDiyName
                            #else
                                $!data.pgGroupThirdCatDiyName

                            #end
                      </td>
                      <td>
                          #if($!purchaseGoodsSearchDto.groupFlag)
                              <a href="$!{request.getContextPath()}/purchase/goods/groupInput.do?mode=1&pgId=$!data.pgId">$!{data.pgGroupRecmdTitle}</a>
                          #else
                              $!data.pgRecmdTitle
                          #end
                      </td>
                      <td>
                            ##单品
                            #if(!$!purchaseGoodsSearchDto.groupFlag)
                                #if($!data.pgPregnantBeginDays > 0 || $!data.pgPregnantEndDays > 0)
                                    孕期必备
                                #elseif($!data.pgBabyBeginDays > 0)
                                    宝宝#covertDay2Date($!data.pgBabyBeginDays)必备
                                #elseif($!data.pgBabyBeginDays == 0)
                                    新生儿必备
                                #end
                            #else
                            ##组合
                                #if($!data.pgGroupIsPregnant)
                                    孕期必备
                                #elseif($!data.pgGroupBabyBeginDays > 0)
                                    宝宝#covertDay2Date($!data.pgGroupBabyBeginDays)必备
                                #elseif(!$!data.pgGroupIsPregnant && $!data.pgGroupBabyBeginDays == 0)
                                    新生儿必备
                                #end
                            #end

                      </td>
                      <td class="text-left">
                        #if($!data.pgIsWantPregnant)
                            <p>备孕</p>
                        #end
                         #if($!data.pgPregnantEndDays > 0)
                            <p>孕妈：<small>预产期前#covertDay2Date($!data.pgPregnantBeginDays)-#covertDay2Date($!data.pgPregnantEndDays)</small></p>
                        #end
                        #if($!data.pgBabyEndDays > 0)
                          <p>宝妈：
                              <small>
                                  #covertDay2Date($!data.pgBabyBeginDays)-#covertDay2Date($!data.pgBabyEndDays) ，
                                  #if($!data.pgBabySex == 0)
                                      不限
                                  #elseif($!data.pgBabySex == 1)
                                      王子
                                  #elseif($!data.pgBabySex == 2)
                                      公主
                                  #end
                            </small>
                          </p>
                        #end
                    </td>
                    #if($!purchaseGoodsSearchDto.groupFlag)
                        <td>
                        #if($!{data.groupGuideTxt.ptId} == 0)
                            <a class="btn btn-info btn-mini" href="$!{request.getContextPath()}/purchase/goods/guide.do?type=2&pgId=$!data.pgId&groupFlag=$!purchaseGoodsSearchDto.groupFlag">添加组合导购页</a>
                        #else
                            <a class="btn btn-inverse btn-mini" href="javascript:Preview(2, $!{data.pgGroupId}, $!{data.pgId});">预览</a>
	                        <a class="btn btn-primary btn-mini" href="$!{request.getContextPath()}/purchase/goods/guide.do?type=2&pgId=$!data.pgId&groupFlag=$!purchaseGoodsSearchDto.groupFlag">编辑</a>
	                        <a class="btn btn-danger btn-mini" href="javascript:delGuideOrQulity(2, $!data.pgGroupId);">删除</a>
                        #end
                        </td>
                    #end
                      <td>
                          #if($data.gbStyle.online == 1)
                              <span class="badge badge-success">已上架</span>
                          #else
                              <span class="badge badge-important">已下架</span>
                          #end

                      </td>
                      <td>$!{data.pgSort}</td>
                      <td>
                      #if($!{data.guideTxt.ptId} ==0 )
                            <a class="btn btn-info btn-mini" href="$!{request.getContextPath()}/purchase/goods/guide.do?type=1&pgId=$!data.pgId&groupFlag=$!purchaseGoodsSearchDto.groupFlag">添加导购页</a>
                      #else
                          <a class="btn btn-inverse btn-mini" href="javascript:Preview(1, $!{data.pgId}, $!{data.pgId});">预览</a>
                          <a class="btn btn-primary btn-mini" href="$!{request.getContextPath()}/purchase/goods/guide.do?type=1&pgId=$!data.pgId&groupFlag=$!purchaseGoodsSearchDto.groupFlag">编辑</a>
                          <a class="btn btn-danger btn-mini" href="javascript:delGuideOrQulity(1, $!data.pgId);">删除</a>
                      #end
                    </td>
                   #*
                    <td>
                      #if($!{data.qualityTxt.ptId} == 0)
                          <a class="btn btn-info btn-mini" href="$!{request.getContextPath()}/purchase/goods/guide.do?type=0&pgId=$!data.pgId&groupFlag=$!purchaseGoodsSearchDto.groupFlag">添加质检报告</a>
                      #else
                          <a class="btn btn-inverse btn-mini" href="javascript:Preview(0, '$!{imgpath}$!{data.qualityTxt.ptHtmlUrl}');">预览</a>
                          <a class="btn btn-primary btn-mini" href="$!{request.getContextPath()}/purchase/goods/guide.do?type=0&pgId=$!data.pgId&groupFlag=$!purchaseGoodsSearchDto.groupFlag">编辑</a>
                          <a class="btn btn-danger btn-mini" href="javascript:;delGuideOrQulity(0, $!data.pgId)">删除</a>
                      #end
                    </td>
                    *#
                    <td>
                        #if($!{data.pgStatus} == 1)
                            生效
                        #else
                            失效
                        #end
                    </td>
                    <td>
                        #set($p1 = "")
                        #set($p2 = "")
                        #if(!$!{purchaseGoodsSearchDto.groupFlag}) ##单品
                            #if($!{data.pgStatus} == 1) ##失效
                                <a class="btn btn-success btn-mini" href="$!{request.getContextPath()}/purchase/goods/groupInput.do?mode=1&pgId=$!data.pgId">组合推荐</a><br/>
                            #end
                            #set($p1 = $!data.pgId)
                        #else
                            #set($p2 = $!data.pgGroupId)
                            <a class="btn btn-success btn-mini js-release" href="javascript:;" data-json='{"pgId": $!{data.pgId},"pgGroupId": $!data.pgGroupId}'>释放</a><br/>
                        #end

                        #if($!{data.pgStatus} == 0) ##失效
                            <a class="btn btn-info btn-mini" href="javascript:updatePgStatus('$p1','$p2', 1)">生效</a><br/>
                        #else
                            <a class="btn btn-danger btn-mini" href="javascript:updatePgStatus('$p1','$p2', 0)">失效</a><br/>
                        #end

                        <a class="btn btn-inverse btn-mini" href="$!{request.getContextPath()}/purchase/goods/commentList.do?purchaseId=$!data.pgId">评论</a><br/>
                        <a class="btn btn-primary btn-mini" href="$!{request.getContextPath()}/purchase/goods/input.do?pgId=$!data.pgId&pgType=0&groupFlag=$!purchaseGoodsSearchDto.groupFlag">编辑</a>
                    </td>
                  </tr>
                  #end
              </tbody>
            </table>
            <div class="table-footer-tool clearfix">
              <div class="tool">
                <a class="btn btn-primary js-checked-all" href="javascript:;">全选</a>
                #if($!purchaseGoodsSearchDto.groupFlag)
                    <a class="btn btn-warning" href="javascript:Split();">拆分组合</a>
                #end
                <a class="btn btn-danger js-del-all" href="javascript:;">删除商品</a>
                <a class="btn btn-info js-valid-all" pgStatus="1" href="javascript:;">批量生效</a>
                <a class="btn btn-danger js-invalid-all" pgStatus="0" href="javascript:;">批量失效</a>
              </div>
              <div class="pagination text-right">
                ##分页
                #parse("pagination.vm")
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="$!{request.getContextPath()}/res/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript">
    //文件上传
    $(".up-btn").each(function () {
        var thas = $(this);
        thas.children().uploadify({
            uploader: root + '/oss/uploadFiles.do',
            swf: root + '/res/uploadify/uploadify.swf',
            formData: {type: 10},
            queueID: 'null', // 上传进度列表;
            fileTypeDesc: "jpg",
            fileTypeExts: '*.jpg;*.png', //控制可上传文件的扩展名，启用本项时需同时声明fileTypeDesc
            multi: false,
            wmode: "transparent",
            buttonText: '选择图片',
            width: "100%",
            height: "100%",
            onUploadStart: function () {
                var id = this.button.parents(".up-btn").data("id");
                $("#" + id + "-pic").html('');
            },
            onUploadSuccess: function (file, data, response) {
                //上传完成时触发（每个文件触发一次）;
                //console.log([file,data,response]);
                var data = JSON.parse(data), id = this.button.parents(".up-btn").data("id");
                if (!data.success) {
                    Toast.show(data.msg);
                    $("#" + id + "-pic").html('<img src="' + root + '/res/images/photo-default.png"/>');
                } else {
                    var img = new Image();
                    img.src = "${imgpath}" + data.fileName;
                    // 不校验尺寸;
                    //$("#" + id + "-pic").html('<img src="${imgpath}'+ data.fileName +'"/>');
                    //$("#" + id + "-hidden").val(data.fileName);
                    $(img).load(function () {
                        var size = $("#" + id + "-pic").attr("size").split("x");
                        if (size[0] != this.width || size[1] != this.height) {
                            Toast.show("请上传指定尺寸图片：" + size.join("x"));
                            $("#" + id + "-pic").html('<img src="' + root + '/res/images/photo-default.png"/>');
                        } else {
                            $("#" + id + "-pic").html('<img src="${imgpath}' + data.fileName + '"/>');
                            $("#" + id + "-hidden").val(data.fileName);
                        }
                    });
                }
            }
        });
    });


    var VM = {
        rcmdType: '$!purchaseGoodsSearchDto.rcmdObjType',
        BeginDays: '$!{request.getParameter("rcmdObjBeginDays")}',
        EndDays: '$!{request.getParameter("rcmdObjEndDays")}',
        groupFlag: '$!{request.getParameter("groupFlag")}'
    };
    // 组合列表，进行合并单元格;
    if (VM.groupFlag == "true") {
        var table = $("#goods-list table");
        table.addClass("table-border");
        Matrix.rowspan(table, [1, 5, 6, 7, 9, 11, 13]);
    }
    // 拆分组合;
    function Split() {
        var inputs = $("#goods-list input:checked");
        if (!inputs.length) return Toast.show('请选择组合商品');
        var id = []; // 所有组合id;
        inputs.each(function () {
            id.push($(this).val())
        });
        if (window.confirm("确定要拆分这些组合商品?")) {
            Matrix.JSON({
                showLoad: true,
                val: {pgGroupIds: id.join(',')},
                url: root + "/purchase/goods/splitGroupsByPgGroupIds.do",
                fun: function (res) {
                    if (res.success) {
                        Toast.show("执行成功");
                        window.location.reload();
                    } else {
                        return Toast.show(res.msg || "出错啦");
                    }
                }
            });
        }
    }
    ;

    // 选择推荐对象;
    var rcmd = VM.rcmdType,
            beau = $(".js-beau"),
            condition = $(".js-age-condition");
    beau.val(rcmd).on("change", function () {
        setBeau($(this).val());
    });
    setBeau(rcmd, true);
    function setBeau(val, loads) {
        var ages = condition, ps = ages.find("p");
        ps.hide();
        var Beg = Matrix.DayToAge(VM.BeginDays),
                End = Matrix.DayToAge(VM.EndDays);
        if (val == 1) {
            // 孕妈;
            var p = ps.eq(0);
            ages.show();
            p.show();
            if (loads) {
                p.find("input[data-name=BeginMs]").val(Beg.mm);
                p.find("input[data-name=EndMs]").val(End.mm);
            }
        } else if (val == 2) {
            // 宝妈;
            var p = ps.eq(1);
            ages.show();
            p.show();
            if (loads) {
                p.find("input[data-name=BeginYs]").val(Beg.yy);
                p.find("input[data-name=BeginMs]").val(Beg.mm);
                p.find("input[data-name=EndYs]").val(End.yy);
                p.find("input[data-name=EndMs]").val(End.mm);
            }
        } else {
            ages.hide();
        }
    }
    ;
    // 全选;
    $(".js-checked-all").on("click", function () {
        Matrix.CheckedAll($('#goods-list'));
    });
    // 删除商品;
    $(".js-del-all").on("click", function () {
        var inputs = $('#goods-list input:checked');
        if (!inputs.length) return Toast.show('请选择商品');
        var id = []; // 所有组合id;
        inputs.each(function () {
            id.push($(this).val())
        });
        console.log(id);
        if (window.confirm("确定要删除这些商品?")) {
            Matrix.JSON({
                showLoad: true,
                val: VM.groupFlag == "true" ? {pgGroupIds: id.join(',')} : {pgIds: id.join(',')},
                url: root + "/purchase/goods/batchDelete.do",
                fun: function (res) {
                    if (res.success) {
                        Toast.show("执行成功");
                        window.location.reload();
                    } else {
                        return Toast.show(res.msg || "出错啦");
                    }
                }
            });
        }

    });
    // 删除导购、质检;
    function delGuideOrQulity(type, id) {
        if (window.confirm("确定要删除此内容?")) {
            var data = {
                txtType: type
            };
            if (type == 2) {
                data.pgGroupId = id;
            } else {
                data.pgId = id;
            }
            Matrix.JSON({
                showLoad: true,
                val: data,
                url: root + "/purchase/goods/deleteGuideOrQulity.do",
                fun: function (res) {
                    if (res.success) {
                        Toast.show("执行成功");
                        window.location.reload();
                    } else {
                        return Toast.show(res.msg || "出错啦");
                    }
                }
            });
        }
    }
    ;

    // 选择组合商品;
    function setGroup(id1) {
        var pop = $("#setGroup"), input_id = pop.find(".js-group-id"), input_title = pop.find(".js-group-title");
        pop.modal("show");
        input_title.focus();
        // 校验另一个商品id是否已经是推荐商品;
        pop.find(".btn-primary").off("click").on("click", function () {
            // id是否正常填写;
            var id2 = $.trim(input_id.val());
            var groupTitle = $.trim(input_title.val());  //组合推荐标题
            var pgGroupIntroduction = $("input[name=pgGroupIntroduction]").val(),
                    pgGroupCoverPic = $("input[name=pgGroupCoverPic]").val(),
                    pgNewGroupCoverPic = $("input[name=pgGroupCoverPic]").val(),
                    pgStatus = $(".js-pgStatus").find(":radio:checked").val() == 1 ? 1 : 0;
            if (!groupTitle) {
                return Toast.show('请输入组合推荐标题');
            } else if (pgGroupIntroduction == "" || isForm.isCheck(pgGroupIntroduction)) {
                $("input[name=pgGroupIntroduction]").focus();
                return Toast.show('请输入正确导读');
            } else if (pgGroupCoverPic == "") {
                return Toast.show('请上传封面');
            } else if (groupTitle.length > 30) {
                return Toast.show('组合推荐标题过长，请控制在30字符内');
            } else if (pgNewGroupCoverPic == '') {
                return Toast.show('请上传新版封面');
            }
            if (!isForm.isImp(id2)) {
                input_id.focus();
                return Toast.show('请输入正确的款式编号(商品ID)');
            }
            if (id2 == id1) {
                input_id.focus();
                return Toast.show('商品ID相同，请重新输入');
            }
            // ajax调用验证;
            Matrix.JSON({
                showLoad: true,
                val: {styleNumId: id2},
                url: "$!{request.getContextPath()}/purchase/goods/checkStyleHasGroup.do",
                fun: function (data) {
                    // 成功后跳转至编辑组合商品详情;
                    if (data.success) {
                        Matrix.JSON({
                            showLoad: true,
                            val: {
                                styleNumId1: id1,
                                styleNumId2: id2,
                                pgGroupRecmdTitle: groupTitle,
                                pgGroupIntroduction: pgGroupIntroduction,
                                pgGroupCoverPic: pgGroupCoverPic,
                                pgNewGroupCoverPic: pgNewGroupCoverPic,
                                pgStatus: pgStatus
                            },
                            url: "$!{request.getContextPath()}/purchase/goods/setGroup.do",
                            fun: function (ret) {
                                if (ret.success) {
                                    window.location.href = "$!{request.getContextPath()}/purchase/goods/index.do?groupFlag=true&type=0";
                                } else {
                                    return Toast.show(ret.msg);
                                }
                            }
                        })
                    } else {//存在组合
                        return Toast.show(data.msg);
                    }
                }
            });
        });
    }
    ;
    // 修改组合商品标题;
    function editGroupTitle(id, title, obj) {
        var pop = $("#editGroup"), pgStatus = $(".js-pgStatus"), t = pop.find("input[name=title]"), json = $(obj).data("json"),
                gpi = pop.find("input[name=pgGroupIntroduction]"),
                gpic = pop.find("input[name=pgGroupCoverPic]"),
                pgnewpic = pop.find("input[name=pgNewGroupCoverPic]");
        pop.modal();
        t.val(title);
        gpi.val(json.pgGroupIntroduction);
        //单品封面
        if (json.pgGroupCoverPic) {
            $("#editor-front-pic").html('<img src="${imgpath}' + json.pgGroupCoverPic + '"/>');
            gpic.val(json.pgGroupCoverPic);
        }
        //新版封面
        if (json.pgNewGroupCoverPic) {
            $("#new-cover-pic").html('<img src="${imgpath}' + json.pgNewGroupCoverPic + '"/>');
            pgnewpic.val(json.pgNewGroupCoverPic);
        }
        //立即生效
        if (json.pgStatus == "1") {
            //console.log(json);
            pgStatus.find(":radio").eq(1).trigger("click");
        }


        pop.find(".btn-primary").off("click").on("click", function () {
            var nt = $.trim(t.val()),
                    ni = $.trim(gpi.val()),
                    npic = $.trim(gpic.val());
            if (nt == "" || isForm.isCheck(nt)) {
                t.focus();
                return Toast.show('请正确填写标题');
            } else if (ni == "" || isForm.isCheck(ni)) {
                gpi.focus();
                return Toast.show('请输入正确导读');
            } else if (npic == "") {
                return Toast.show('请上传组合封面');
            } else if (pgnewpic.val() == '') {
                return Toast.show('请上传新版组合封面');
            }
            Matrix.JSON({
                showLoad: true,
                type: "POST",
                val: {
                    pgGroupId: id,
                    pgGroupRecmdTitle: nt,
                    pgGroupIntroduction: ni,
                    pgGroupCoverPic: gpic.val(),
                    pgNewGroupCoverPic: pgnewpic.val(),
                    pgStatus: pgStatus.find(":radio:checked").val()
                },
                url: "$!{request.getContextPath()}/purchase/goods/updateGroupInfo.do",
                fun: function (ret) {
                    if (ret.success) {
                        window.location.reload();
                    } else {
                        return Toast.show(ret.msg);
                    }
                }
            })
        });
    }
    ;


    // 加载类目数据;
    var firstType = Matrix.tools.search("firstType");
    var secondType = Matrix.tools.search("secondType");
    var thirdType = Matrix.tools.search("thirdType");
    if (firstType) {
        $("#category-1").val(firstType);
        CategoryTwo(firstType, secondType);
    }
    if (secondType) {
        CategoryThree(secondType, thirdType);
    }
    function CategoryTwo(val, id) {
        if (!val) return;
        Matrix.JSON({
            val: {id: val},
            url: root + "/goods/queryId.do",
            fun: function (data) {
                var arr = ['<option value>请选择</option>'];
                $.each(data, function (i, n) {
                    arr.push("<option value='" + n.gtId + "'>" + n.gtName + "</option>");
                });
                $("#category-2").html(arr.join('')).val(id);
            }
        });
    }
    ;
    function CategoryThree(val, id) {
        if (!val) return;
        Matrix.JSON({
            type: "POST",
            val: {id: val},
            url: root + "/goods/queryId.do",
            fun: function (data) {
                var arr = ['<option value>请选择</option>'];
                $.each(data, function (i, n) {
                    arr.push("<option value='" + n.gtId + "'>" + n.gtName + "</option>");
                })
                $("#category-3").html(arr.join('')).val(id);
            }
        });
    }
    ;


    $("#searchBtn").on("click", function () {

        // 处理推荐对象的搜索条件;
        var rcmdObjBeginDays = condition.find("input[name=rcmdObjBeginDays]"),
                rcmdObjEndDays = condition.find("input[name=rcmdObjEndDays]"),
                styleNumId = $("input[name=styleNumId]"),
                p = condition.find("p:visible"), Beg, End;
        // 孕妈;
        if (beau.val() == 1) {
            Beg = Matrix.AgeToDay({
                mm: p.find("input[data-name=BeginMs]")
            });
            End = Matrix.AgeToDay({
                mm: p.find("input[data-name=EndMs]")
            });
            // 宝妈;
        } else if (beau.val() == 2) {
            var p = condition.find("p:visible"), Beg, End;
            Beg = Matrix.AgeToDay({
                yy: p.find("input[data-name=BeginYs]"),
                mm: p.find("input[data-name=BeginMs]")
            });
            End = Matrix.AgeToDay({
                yy: p.find("input[data-name=EndYs]"),
                mm: p.find("input[data-name=EndMs]")
            });
        }
        rcmdObjBeginDays.val(Beg);
        rcmdObjEndDays.val(End);
        //return false;
        if (styleNumId.val() && !isForm.isImp(styleNumId.val())) {
            Toast.show('请输入正确的商品ID');
            return false;
        }

        $("#form-search").submit();

    });

    // 预览;
    function Preview(type, val, keyid) {
        // http=172.28.1.107:8080/gd-app-api&;
        var href = 'http://h5.mamahao.com/app/shopping/goods/v3.html?', src = {
            areaId: 330101,
            goodsId: val,
            goodsType: type,
            primaryKeyId: keyid
        };
		if(window.location.host != "yy.mamahao.com"){
			href = 'http://h5.mamahao.com/app/shopping/goods/v3.html?';
			src.http = "101.69.254.214:11001/mamahao-app-api"
		}
		preview = href + $.param({
			goodsId: src.goodsId,
			goodsType: src.goodsType,
			primaryKeyId: src.primaryKeyId
		});
        if (type == 0) {
            href = val;
        } else {
            href += $.param(src);
        }
				//console.log(href);
				//console.log(preview);
        Mobile.show({
            href: href,
						footer: '<div class="href">此导购地址：<input type="url" value="'+ preview +'" /></div>'
        });
    };


    //更新商品状态
    function updatePgStatus(pgId, pgGroupId, pgStatus) {
        if (pgId === '' && pgGroupId === '') {
            Toast.show("参数异常");
            return;
        }
        val = {pgStatus: pgStatus};
        if ('' != pgId) {
            val.pgIds = pgId;
        } else if ('' != pgGroupId) {
            val.pgGroupIds = pgGroupId;
        }

        Matrix.JSON({
            type: "POST",
            val: val,
            url: root + "/purchase/goods/updatePgStatus.do",
            fun: function (data) {
                if (data.success) {
                    window.location.reload();
                } else {
                    Toast.show(data.msg);
                }
            }
        });
    }


    // 批量生效，失效;
    $(".js-valid-all , .js-invalid-all").on("click", function () {
        var inputs = $('#goods-list input:checked');
        var pgStatus = $(this).attr("pgStatus");
        if (!inputs.length) return Toast.show('请选择商品');
        var id = []; // 所有组合id;
        inputs.each(function () {
            id.push($(this).val())
        });
        var msginfo = pgStatus == 0 ? "确定批量失效这些商品?" : "确定批量生效这些商品?";
        if (window.confirm(msginfo)) {
            Matrix.JSON({
                showLoad: true,
                val: VM.groupFlag == "true" ? {pgGroupIds: id.join(','), pgStatus: pgStatus} : {
                    pgIds: id.join(','),
                    pgStatus: pgStatus
                },
                url: root + "/purchase/goods/updatePgStatus.do",
                fun: function (res) {
                    if (res.success) {
                        window.location.reload();
                    } else {
                        return Toast.show(res.msg || "出错啦");
                    }
                }
            });
        }

    });

    $(document.body).on('click','.js-release',function () {
        var _this = $(this);
        var colspan = _this.closest('tr').data('merge');
        if(colspan && colspan > 2){
            if(confirm('将当前商品将从当前组合中删除？\n（删除后当前商品回归到单品状态，如需对该商品继续处理请到单品列表）')){
                var apiURL = '/purchase/goods/release.do';
                Matrix.JSON({
                    showLoad: false,
                    type: "post",
                    val: _this.data('json'),
                    url: root + apiURL,
                    fun: function (res) {
                        if(res.success){
                            Toast.show('释放成功');
                            window.location.reload();
                        }else{
                            Toast.show(res.msg);
                        }
                    }
                });
            }
        }else{
            Toast.show('当前组合少于3个商品不能使用释放功能，请使用组合拆分或删除操作。');
        }
    });



//始用阶段
Matrix.JSON({
    showLoad: true,
    url: root + "/purchase/goods/queryMoreMonths.do",
    fun: function(res){
			// console.log($!purchaseGoodsSearchDto.useStage);
        if(res){
            var opt = [];
            $.each(res, function(i,o){
                opt.push("<option value='"+ o.month+"'>"+ o.monthDes+"</option>")
            });

            $("select[name='useStage']").append(opt.join(""));
            $("select[name='useStage']").val('$!purchaseGoodsSearchDto.useStage');
        }
    }
});



/*显示商品详情*/
function showHtml(obj, id) {
    Mobile.show({
        title: "商品详情",
        href: "$!{request.getContextPath()}/gb/goods/previewGoodsInfo.do?tepId=" + id
    });
}
</script>