##每月购众筹商品列表
#parse("/admin/com/common.vm")
#set($layout="/admin/layout/matrix.vm")
<script type="text/javascript">
    Matrix.Nav({"menu": 215, "cmenu": 216});
</script>
<style type="text/css">
.mobile-pop-all .footer{ padding:5px;}
.mobile-pop-all .footer input{ margin-bottom:0;}
</style>
<div id="content-header">
  <h1>会员购商品管理</h1>
</div>
<div class="container-fluid">
  <hr>
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box widget-tabs-box">
        <ul class="nav nav-tabs">
          <li><a href="$!{request.getContextPath()}/purchase/goods/index.do?type=0">普通商品</a></li>
          <li class="active"><a href="$!{request.getContextPath()}/purchase/goods/plan.do?type=1">众筹商品</a></li>
        </ul>
        <div class="widget-content nopadding">
          <form action="$!{request.getContextPath()}/purchase/goods/plan.do?type=1" class="form-horizontal form-horizontal-inline row-fluid" id="form-search">
            <input name="type" type="hidden" value="$!purchaseGoodsSearchDto.type">
            <div class="row-fluid">
              <div class="span3">
                <div class="control-group">
                  <label class="control-label">商品名称：</label>
                  <div class="controls">
                      <input type="text" class="span12" name="goodsTitle" value="$!purchaseGoodsSearchDto.goodsTitle">
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="control-group">
                  <label class="control-label">众筹商品ID：</label>
                  <div class="controls">
                      <input type="text" class="span12" name="planId" value="$!purchaseGoodsSearchDto.planId">
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="control-group">
                  <label class="control-label">众筹状态：</label>
                  <div class="controls">
                    <select name="planStatus" id="" class="span12">
                      <option value="">全部</option>
                      <option value="1" #if($!purchaseGoodsSearchDto.planStatus == 1) selected #end>众筹中</option>
                      <option value="2" #if($!purchaseGoodsSearchDto.planStatus == 2) selected #end>众筹成功</option>
                      <option value="3" #if($!purchaseGoodsSearchDto.planStatus == 3) selected #end>众筹失败</option>
                    </select>
                  </div>
                </div>
              </div>
                <div class="span3">
                    <div class="control-group">
                        <label class="control-label">状态：</label>
                        <div class="controls">
                            <select name="pgStatus" class="span4">
                                <option value="">全部</option>
                                <option value="0" #if($!purchaseGoodsSearchDto.pgStatus == 0)selected #end >失效</option>
                                <option value="1" #if($!purchaseGoodsSearchDto.pgStatus == 1)selected #end>生效</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
              #*
              <div class="row-fluid">
                  <div class="span3">
                      <div class="control-group">
                          <label class="control-label">推荐对象：</label>
                          <div class="controls">
                              <select name="rcmdObjType" class="span12 js-beau">
                                  <option value="">全部</option>
                                  <!-- <option value="0">备孕</option> -->
                                  <option value="1">孕妈</option>
                                  <option value="2">宝妈</option>
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="span8">
                      <div class="control-group js-age-condition none">
                          <label class="control-label">搜索条件：</label>
                          <div class="controls">
                              <input name="rcmdObjBeginDays" type="hidden" />
                              <input name="rcmdObjEndDays" type="hidden"/>
                              <p>
                                  预产期前
                                  <span><input type="text" data-name="BeginMs" />个月</span>
                                  --
                                  <span><input type="text" data-name="EndMs" />个月</span>
                              </p>
                              <p>
                                  宝宝年龄
                                  <span><input type="text" data-name="BeginYs" />岁<input type="text" data-name="BeginMs" />个月</span>
                                  --
                                  <span><input type="text" data-name="EndYs" />岁<input type="text" data-name="EndMs" />个月</span>
                                  | 宝宝性别：
                                  <select name="babySex">
                                      <option value="0">不限</option>
                                      <option value="1" #if($!purchaseGoodsSearchDto.babySex == 1) selected #end>王子</option>
                                      <option value="2" #if($!purchaseGoodsSearchDto.babySex == 2) selected #end>公主</option>
                                  </select>
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
*#

              <div class="row-fluid">
                  <div class="span6">
                      <div class="control-group">
                          <label class="control-label">始用阶段：</label>
                          <div class="controls">
                              <select name="useStage" class="span8">
                                  <option value="">全部</option>
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="span6">
                      <div class="control-group">
                          <label class="control-label">宝宝性别：</label>
                          <div class="controls">
                              <select name="babySex">
                                  <option value="">不限</option>
                                  <option value="1" #if($!purchaseGoodsSearchDto.babySex == 1) selected #end>王子</option>
                                  <option value="2" #if($!purchaseGoodsSearchDto.babySex == 2) selected #end>公主</option>
                              </select>
                          </div>
                      </div>
                  </div>
              </div>

            <div class="form-actions">
	            <button type="button" id="searchBtn" class="btn btn-success">筛选</button>
                <button class="btn btn-warning" type="reset" id="reset">重置</button>
                <a class="btn btn-primary" href="$!{request.getContextPath()}/purchase/goods/toAddPlanGoods.do?planStatus=1">添加众筹商品</a>
	          </div>
          </form>
        </div>
        <div class="widget-content" id="goods-list">
          <table class="table table-hover with-check table-text-center table-goods">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th width="300">商品名称</th>
                <th>众筹商品ID</th>
                <th>众筹状态</th>
                <th>众筹简介</th>
                <th>始用阶段</th>
                <th>推荐对象</th>
                <th>排序值</th>
                <th>单品导购页</th>
                <!-- <th>质检报告	</th> -->
                <th>状态</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
                #foreach($!data in $!list)
                  <tr>
                    <td><label><input type="checkbox" name="gtIds" value="$!data.pgId"></label></td>
                    <td class="text-left">$!data.plan.planGoodsTitle</td>
                    <td>$!data.plan.planId</td>
                    <td>
                    	#if($!data.plan.planStatus == 0)
                          <span class="label label-info">未开始</span>
                      #elseif($!data.plan.planStatus == 1)
                          <span class="label label-info">众筹中</span>
                      #elseif($!data.plan.planStatus == 2)
                          <span class="label label-success">众筹成功</span>
                      #elseif($!data.plan.planStatus == 3)
                          <span class="label ">众筹失败</span>
                      #elseif($!data.plan.planStatus == 4)
                          <span class="label label-warning">众筹取消</span>
                      #elseif($!data.plan.planStatus == 5)
                          <span class="label label-warning">众筹暂停</span>
                      #end
                      <br/>
                      #set($perV_ = $!data.plan.planMoneyTotal  * 100 / $!data.plan.planAllPrice)
                      <small>(#if($!perV_)$!perV_ #else 0#end%)</small>
                    </td>
                      <td class="text-left"><div class="desc" title="$!data.plan.planGoodsDesc">$!data.plan.planGoodsDesc</div></td>
                     <td>
                         #if($!data.pgPregnantBeginDays > 0 || $!data.pgPregnantEndDays > 0)
                             孕期必备
                         #elseif($!data.pgBabyBeginDays > 0)
                             宝宝#covertDay2Date($!data.pgBabyBeginDays)必备
                         #elseif($!data.pgBabyBeginDays == 0)
                             新生儿必备
                         #end

                     </td>
                    <td class="text-left">
                      #if($!data.pgIsWantPregnant)
                          <p>备孕</p>
                      #end
                      #if($!data.pgPregnantEndDays > 0)
                          <p>孕妈：<small>预产期前#covertDay2Date($!data.pgPregnantBeginDays)-#covertDay2Date($!data.pgPregnantEndDays)</small></p>
                      #end
                      #if($!data.pgBabyEndDays > 0)
                          <p>宝妈：
                              <small>
                                #covertDay2Date($!data.pgBabyBeginDays)-#covertDay2Date($!data.pgBabyEndDays) ，
                                #if($!data.pgBabySex == 0)
                                    不限
                                #elseif($!data.pgBabySex == 1)
                                    王子
                                #elseif($!data.pgBabySex == 2)
                                    公主
                                #end
                              </small>
                          </p>
                      #end
                    </td>
                    <td>$!{data.pgSort}</td>
                    <td>
                    #if($!{data.guideTxt.ptId} ==0 )
                    <a class="btn btn-info btn-mini" href="$!{request.getContextPath()}/purchase/goods/guide.do?type=1&pgId=$!data.pgId">添加导购页</a>
                    #else
                    <a class="btn btn-inverse btn-mini" href="javascript:Preview(3, $!{data.plan.planId}, $!{data.pgId});">预览</a>
                    <a class="btn btn-primary btn-mini" href="$!{request.getContextPath()}/purchase/goods/guide.do?type=1&pgId=$!data.pgId">编辑</a>
                    <a class="btn btn-danger btn-mini" href="javascript:delGuideOrQulity(1, $!data.pgId);">删除</a>
                    #end
                    </td>
                    <!-- <td>
                    #if($!{data.qualityTxt.ptId} ==0 )
                    <a class="btn btn-info btn-mini" href="$!{request.getContextPath()}/purchase/goods/guide.do?type=0&pgId=$!data.pgId">添加质检报告</a>
                    #else
                    <a class="btn btn-inverse btn-mini" href="javascript:Preview(0, '$!{imgpath}$!{data.qualityTxt.ptHtmlUrl}');">预览</a>
                    <a class="btn btn-primary btn-mini" href="$!{request.getContextPath()}/purchase/goods/guide.do?type=0&pgId=$!data.pgId">编辑</a>
                    <a class="btn btn-danger btn-mini" href="javascript:delGuideOrQulity(0, $!data.pgId);">删除</a>
                    #end
                    </td> -->
                      <td>
                          #if($!{data.pgStatus} == 1)
                              生效
                          #else
                              失效
                          #end
                      </td>
                    <td>
                        #if($!{data.pgStatus} == 0) ##失效
                            <a class="btn btn-info btn-mini" href="javascript:updatePgStatus('$!data.pgId','', 1)">生效</a>
                        #else
                            <a class="btn btn-danger btn-mini" href="javascript:updatePgStatus('$!data.pgId','', 0)">失效</a>
                        #end
                      <a class="btn btn-primary btn-mini" href="$!{request.getContextPath()}/purchase/goods/planInput.do?planId=$!{data.plan.planId}&pgId=$!{data.pgId}&pgType=1">编辑</a>
                    </td>
                  </tr>
                #end

            </tbody>
          </table>
          <div class="table-footer-tool clearfix">
            <div class="tool">
              <a class="btn btn-primary js-checked-all" href="javascript:;">全选</a>
              <a class="btn btn-danger js-del-all" href="javascript:;">删除商品</a>
              <a class="btn btn-info js-valid-all" pgStatus="1" href="javascript:;">批量生效</a>
              <a class="btn btn-danger js-invalid-all" pgStatus="0" href="javascript:;">批量失效</a>
            </div>
            <div class="pagination text-right">
              ##分页
              #parse("pagination.vm")
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	var VM = {
		rcmdType: '$!{purchaseGoodsSearchDto.rcmdObjType}',
		BeginDays: '$!{request.getParameter("rcmdObjBeginDays")}',
		EndDays: '$!{request.getParameter("rcmdObjEndDays")}',
		groupFlag: '$!{request.getParameter("groupFlag")}'
	};
	// 选择推荐对象;
	var rcmd = VM.rcmdType,
	beau = $(".js-beau"),
	condition = $(".js-age-condition");
	beau.val(rcmd).on("change", function(){
		setBeau($(this).val());
	});
	setBeau(rcmd, true);
	function setBeau(val, loads){
		var ages = condition, ps = ages.find("p");
		ps.hide();
		var Beg = Matrix.DayToAge(VM.BeginDays),
		End = Matrix.DayToAge(VM.EndDays);
		if(val == 1){
			// 孕妈;
			var p = ps.eq(0);
			ages.show();
			p.show();
			if(loads){
				p.find("input[data-name=BeginMs]").val(Beg.mm);
				p.find("input[data-name=EndMs]").val(End.mm);
			}
		}else if(val == 2){
			// 宝妈;
			var p = ps.eq(1);
			ages.show();
			p.show();
			if(loads){
				p.find("input[data-name=BeginYs]").val(Beg.yy);
				p.find("input[data-name=BeginMs]").val(Beg.mm);
				p.find("input[data-name=EndYs]").val(End.yy);
				p.find("input[data-name=EndMs]").val(End.mm);
			}
		}else{
			ages.hide();
		}
	};
	
	$("#searchBtn").on("click", function(){
		// 处理推荐对象的搜索条件;
		var rcmdObjBeginDays = condition.find("input[name=rcmdObjBeginDays]"),
		rcmdObjEndDays = condition.find("input[name=rcmdObjEndDays]"),
		planId = $("input[name=planId]"),
		p = condition.find("p:visible"),Beg, End;
		// 孕妈;
		if(beau.val() == 1){
			Beg = Matrix.AgeToDay({
				mm: p.find("input[data-name=BeginMs]")
			});
			End = Matrix.AgeToDay({
				mm: p.find("input[data-name=EndMs]")
			});
		// 宝妈;
		}else if(beau.val() == 2){
			var p = condition.find("p:visible"),Beg, End;
			Beg = Matrix.AgeToDay({
				yy: p.find("input[data-name=BeginYs]"),
				mm: p.find("input[data-name=BeginMs]")
			});
			End = Matrix.AgeToDay({
				yy: p.find("input[data-name=EndYs]"),
				mm: p.find("input[data-name=EndMs]")
			});
		}
		rcmdObjBeginDays.val(Beg);
		rcmdObjEndDays.val(End);
		//return false;
		if(planId.val() && !isForm.isImp(planId.val())){
			Toast.show('请输入正确的商品ID');
			return false;
		}
		
		$("#form-search").submit();

	});
	
	// 删除导购、质检;
	function delGuideOrQulity(type, id){
		if(window.confirm("确定要删除此内容?")){
			var data = {
				txtType: type
			};
			if(type == 2){
				data.pgGroupId = id;
			}else{
				data.pgId = id;
			}
			Matrix.JSON({
				showLoad: true,
				val: data,
				url: root + "/purchase/goods/deleteGuideOrQulity.do",
				fun: function(res){
					if(res.success){
						Toast.show("执行成功");
						window.location.reload();
					}else{
						return Toast.show(res.msg || "出错啦");
					}
				}
			});
		}
	};
	
	// 全选;
	$(".js-checked-all").on("click", function(){
		Matrix.CheckedAll($('#goods-list'));
	});
	// 删除商品;
	$(".js-del-all").on("click", function(){
		var inputs = $('#goods-list input:checked');
		if(!inputs.length) return Toast.show('请选择商品');
		var id = []; // 所有组合id;
		inputs.each(function(){id.push($(this).val())});
		console.log(id);
		if(window.confirm("确定要删除这些商品?")){
			Matrix.JSON({
				showLoad: true,
				val: {pgIds: id.join(',')},
				url: root + "/purchase/goods/batchDelete.do",
				fun: function(res){
					if(res.success){
						window.location.reload();
					}else{
						return Toast.show(res.msg || "出错啦");
					}
				}
			});
		}
	});
	 
	// 预览;
	function Preview(type, val, keyid){
		// http=172.28.1.107:8080/gd-app-api&;
		var href = 'http://h5.mamahao.com/app/shopping/goods/v3.html?',
		src = {
			areaId: 330101,
			goodsId: val,
			goodsType: type,
			primaryKeyId: keyid
		};
		if(window.location.host != "yy.mamahao.com"){
			href = 'http://h5.mamahao.com/app/shopping/goods/v3.html?';
			src.http = "101.69.254.214:11001/mamahao-app-api"
		}
		preview = href + $.param({
			goodsId: src.goodsId,
			goodsType: src.goodsType,
			primaryKeyId: src.primaryKeyId
		});
		if(type == 0){
			href = val;
		}else{
			href += $.param(src);
		}
		Mobile.show({
			href: href,
			footer: '<div class="href">此导购地址：<input type="url" value="'+ preview +'" /></div>'
		});
	};


    //更新商品状态
    function updatePgStatus(pgId, pgGroupId, pgStatus){
        if(pgId === '' && pgGroupId === ''){
            Toast.show("参数异常");
            return;
        }
        val = {pgStatus : pgStatus};
        if('' != pgId) {
            val.pgIds = pgId;
        }else if('' != pgGroupId){
            val.pgGroupIds = pgGroupId;
        }

        Matrix.JSON({
            type: "POST",
            val: val,
            url: root + "/purchase/goods/updatePgStatus.do",
            fun: function(data){
                if(data.success){
                    window.location.reload();
                }else{
                    Toast.show(data.msg);
                }
            }
        });
    }


    // 批量生效，失效;
    $(".js-valid-all , .js-invalid-all").on("click", function(){
        var inputs = $('#goods-list input:checked');
        var pgStatus = $(this).attr("pgStatus");
        if(!inputs.length) return Toast.show('请选择商品');
        var id = []; // 所有组合id;
        inputs.each(function(){id.push($(this).val())});
        var msginfo = pgStatus == 0 ?  "确定批量失效这些商品?" : "确定批量生效这些商品?";
        if(window.confirm(msginfo)){
            Matrix.JSON({
                showLoad: true,
                val: VM.groupFlag == "true" ? {pgGroupIds: id.join(','), pgStatus : pgStatus} : {pgIds: id.join(','), pgStatus : pgStatus},
                url: root + "/purchase/goods/updatePgStatus.do",
                fun: function(res){
                    if(res.success){
                        window.location.reload();
                    }else{
                        return Toast.show(res.msg || "出错啦");
                    }
                }
            });
        }

    });


    ##始用阶段
    Matrix.JSON({
        showLoad: true,
        url: root + "/purchase/goods/queryMoreMonths.do",
        fun: function(res){
        ##        console.log($!purchaseGoodsSearchDto.useStage);
            if(res){
                var opt = [];
                $.each(res, function(i,o){
                    opt.push("<option value='"+ o.month+"'>"+ o.monthDes+"</option>")
                });

                $("select[name='useStage']").append(opt.join(""));
                $("select[name='useStage']").val($!purchaseGoodsSearchDto.useStage);
            }
        }
    });
</script>