##微信分享配置
#parse("/admin/com/common.vm")
#set($layout="/admin/layout/matrix.vm")
<script type="text/javascript">Matrix.Nav({"menu": 148, "cmenu":187});</script>
<style>
	input[type=text].error{ color:#b94a48; border-color:#b94a48;}
</style>
<div id="content-header">
    <h1>微推广管理 |微信分享配置</h1>
</div>
<div class="container-fluid">
	<hr>
  <div class="row-fluid">
	<div class="span12">
    	<div class="form-horizontal">
	      <div class="accordion" id="collapse-group">
	        <div class="accordion-group widget-box">
	          <div class="accordion-heading">
	            <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
	              <h5>微信分享配置</h5>
	            </div>
	          </div>
	          <div class="accordion-body collapse in" id="collapseGOne">
	          <div class="row-fluid">
	          	<div class="span8">
            	<div class="control-group">
	              <div class="controls">
	                                                                         该页面配置分享推广注册链接到微信显示的相关信息
	              </div>
	            </div>
	          	<div class="control-group">
	              <label class="control-label"><i>*</i>图标：<br />(尺寸：200*200px)</label>
	              <div class="controls">
	                 <span class="up-photo">
	                   <input name="shareLogo" id="shareLogo-hidden" type="hidden" value="$!config.shareLogo"/>
	                   <div class="up-pic" id="shareLogo-pic">
	                    #if("$!config"!="" &&"$!config.shareLogo"!="")
	                       <img src="$imgpath$!config.shareLogo">
	                    #else
	                      <img src="$!{request.getContextPath()}/res/images/photo-default.png">
	                    #end
	                   </div>
	                  <div class="up-btn" data-id="shareLogo"><a href="javascript:;" id="shareLogo" class="logo-btn">选择图片</a></div>
	                </span>
	              </div>
	             </div>
	             <div class="control-group">
	                <label class="control-label"><i>*</i>主标题：</label>
	                <div class="controls">
	                 <textarea placeholder="建议不超过30字" name="shareMainTitle" id="js-shareMainTitle">$!config.shareMainTitle</textarea>
	                </div>
	             </div>
	             <div class="control-group">
	               <label class="control-label"><i>*</i>副标题：</label>
	               <div class="controls">
	                <textarea placeholder="建议不超过40字" name="shareSubTitle" id="js-shareSubTitle">$!config.shareSubTitle</textarea>
	               </div>
	             </div>
	             <div class="control-group">
	               <label class="control-label"><i>*</i>分享链接：</label>
	               <div class="controls">
	                <input type="text" class="span5"  id="js-shareUrl" value="$!config.shareUrl" placeholder="http://www.mamahao.com/" />
	               </div>
	             </div>
	          	</div>
	          	<div class="span4">
	          		<h4>示例图：</h4>
	          		<div><img src="http://s.mamhao.cn/admin/bootstrap/img//20151204.png"></div>
	          	</div>
	          </div>
	          </div>
	         </div>
             <div class="form-actions">
	          <button type="submit" class="btn btn-success js-save" onclick="setSave();">保存</button>
	         </div>
	       </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="$!{request.getContextPath()}/res/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript">
	// 保存数据;
	function setSave(){
		// console.log();
		var val = {
			     type:1,
			     shareLogo:$("#shareLogo-hidden").val(),
			     shareMainTitle:$("#js-shareMainTitle").val(),
			     shareSubTitle:$("#js-shareSubTitle").val(),
			     shareUrl:$("#js-shareUrl").val()
		}
		
		if(isForm.isTrim(val.shareLogo)){
		    return Toast.show("微信分享配置的图标不能为空!");
		}else if(isForm.isTrim(val.shareMainTitle)){
		     $("#js-shareMainTitle").focus();
		     return Toast.show("微信分享配置的主标题不能为空!");
		}else if(isForm.isTrim(val.shareSubTitle)){
		     $("#js-shareSubTitle").focus();
		     return Toast.show("微信分享配置的副标题不能为空!");
		}else if(isForm.isTrim(val.shareUrl)){
		    $("#js-shareUrl").focus();
		    return Toast.show("微信分享配置的分享链接不能为空!");
		}else if(!isNaN(val.shareUrl)){
		   $("#js-shareUrl").focus();
		   return Toast.show("微信分享配置的分享链接输入错误!");
		}
			
		Matrix.JSON({
			type: "POST",
			val: {data: JSON.stringify(val)},
			url: root + "/config/saveShareWechatConfig.do",
			fun: function(msg){
				Toast.show(msg.msg);
				document.location.reload();
			}
		});
	};
	//文件上传
	$(".up-btn").each(function(){
		var thas = $(this);
		thas.children().uploadify({
　　		uploader: '$!{request.getContextPath()}/oss/uploadFiles.do',  
			swf: '$!{request.getContextPath()}/res/uploadify/uploadify.swf',  
			queueID: 'null', // 上传进度列表;
			fileTypeDesc: "jpg",
			fileTypeExts: '*.jpg;*.png', //控制可上传文件的扩展名，启用本项时需同时声明fileTypeDesc
			multi: false,
			wmode: "transparent",
			buttonText: '选择图片',
			width: "100%",
			height: "100%",
			onUploadStart: function(){
				var id = this.button.parents(".up-btn").data("id");
				$("#" + id + "-pic").html('');
			},
			onUploadSuccess: function(file,data,response) {
				//上传完成时触发（每个文件触发一次）;
				var data = JSON.parse(data), id = this.button.parents(".up-btn").data("id");
				if(!data.success){
					 Toast.show(data.msg);
					 $("#" + id + "-pic").html('<img src="$!{request.getContextPath()}/res/images/photo-default.png"/>');
				}else{
					var img = new Image();
					img.src = "${imgpath}" + data.fileName;
					$(img).load(function(){
						if(200 != this.width || 200 != this.height){
							Toast.show("请上传正确尺寸的图片200x200");
							$("#" + id + "-hidden").val("");
							$("#" + id + "-pic").html('<img src="'+ root +'/res/images/photo-default.png"/>');
						}else{
							deleteFileByName($("#" + id + "-hidden").val());
							$("#" + id + "-pic").html('<img src="${imgpath}'+ data.fileName +'"/>');
							$("#" + id + "-hidden").val(data.fileName);
						}
					});
					//deleteFileByName($("#" + id + "-hidden").val());
					//$("#" + id + "-pic").html('<img src="$imgpath'+ data.fileName +'"/>');
					//$("#" + id + "-hidden").val(data.fileName);
				}
			}
		}); 
	});

</script>