##微推广数据
#parse("/admin/com/common.vm")
#set($layout="/admin/layout/matrix.vm")
<style>
    .pt1x{padding-top: 10px;}
    .pb1x{padding-bottom: 10px;}
</style>
<script type="text/javascript">
    Matrix.Nav({"menu": 148, "cmenu": 156});
</script>
<div id="content-header">
    <h1>微推广管理 |微推广数据</h1>
</div>
<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
				<div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
		          <h5>补贴统计</h5>
		        </div>
                <div class="widget-content">
                	<table class="table table-income">
                  	<tbody>
                    	<tr>
                      	<td>
                        	<dl>
                        		<dt>注册补贴</dt>
                        		<dd><span class="badge badge-success">
                            	#if("$!stat.regIncome"=="")
    								0
    							#else
    								#formatAmount($!stat.regIncome)
    							#end
                            </span> 元</dd>
                        	</dl>
						</td>
                      	<td>
                        	<dl>
                        		<dt>购物补贴</dt>
                        		<dd><span class="badge badge-success">
                            	#if("$!stat.totalIncome"=="" && "$!stat.regIncome"=="")
    								0
    							#else
									#set($shopIncome = $!stat.totalIncome - $!stat.regIncome) 
    								#formatAmount($!shopIncome)
    							#end
                            </span> 元</dd>
                        	</dl></td>
                      	<td>
                        	<dl>
                        		<dt>累计补贴</dt>
                        		<dd><span class="badge badge-success">
                            	#if("$!stat.totalIncome"=="")
    								0
    							#else
    								#formatAmount($!stat.totalIncome)
    							#end
                            </span> 元</dd>
                        	</dl>
						</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

				<div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>补贴详情</h5>
                </div>
                <div class="widget-content nopadding">
                    <form id="searchFrm" class="form-horizontal form-horizontal-inline" method="get" action="$!{request.getContextPath()}/share/income/getShareIncomeDetailsList.do">
                        <div class="row-fluid">
                              <div class="span6">
                                  <div class="control-group">
                                    <label class="control-label">时间：</label>
                                    <div class="controls">
                                      <input id="beginTime" class="span3" type="text" name="beginTime" value="$!date.format('yyyy-MM-dd',$!dto.beginTime)" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'endTime\')}'})"/>
                                      <span class="notepad-inline">至</span>
                                      <input id="endTime" class="span3" type="text" name="endTime" value="$!date.format('yyyy-MM-dd',$!dto.endTime)" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'beginTime\')}'})"/> 
                                      <a class="btn btn-primary" href="javascript:showTimeAndSubmit(7);">最近7天</a>
                                      <a class="btn btn-primary" href="javascript:showTimeAndSubmit(30);">最近30天</a>
                                    </div>
                                  </div>
                                </div>

                             <div class="span3">
                                  <div class="control-group">
                                    <label class="control-label">补贴类型：</label>
                                    <div class="controls">
                                      <select name="type" class="span12">
                                        <option value="" >全部</option>
                                        <option value="0" #if($!dto.type == 0) selected #end>注册</option>
										<option value="1" #if($!dto.type == 1) selected #end>首次购物</option>
										<option value="2" #if($!dto.type == 2) selected #end>购物</option>
                                      </select>
                                    </div>
                                  </div>
                               </div>
                        </div>
                        <div class="form-actions">
                            <button class="btn btn-success" type="submit">筛选</button>
							<button class="btn btn-warning" type="reset" id="next">重置</button>
							<button class="btn btn-danger" type="button" onclick="exportExcel();">导出</button>
                        </div>
                    </form>

                </div>
                <div class="widget-content">
                    <div class="widget-box widget-tabs-box">
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="$!{request.getContextPath()}/share/income/queryNewMemberList4Page.do">用户注册数据</a>
                            </li>
                            <li class="active">
                                <a href="$!{request.getContextPath()}/share/income/getShareIncomeDetailsList.do">平台补贴数据</a>
                            </li>
                        </ul>
                        <div class="widget-content tab-content">
                            <table class="table table-hover table-text-center">
                                <tr>
                                    <th>补贴类型</th>
                                    <th>新用户昵称</th>
                                    <th>新用户手机号</th>
                                    <th>时间</th>
									<th>推广员</th>
									<th>补贴推广员金额</th>
                                </tr>
								 #foreach($data in ${list})
                                <tr>
                                    <td>
										#if($!data.type == 0)
											注册
										#elseif($!data.type == 1)
											首次购物<br/>
											$!data.orderLineId
										#else
											购物<br/>
											$!data.orderLineId
										#end	
									</td>
                                    <td>$!data.newMemberExt.nickName</td>
                                    <td>$!data.newMemberRelationShip.signMobile</td>
                                    <td>$!date.format('yyyy-MM-dd HH:mm:ss',$!data.createDate)</td>
									<td>
										#if($!data.sharePromoter.name)
											$!data.sharePromoter.name ($!data.sharePromoter.mobile)
										#end	
									</td>
									<td>#formatAmount($!data.income)</td>
                                </tr>
								#end

                            </table>

							#parse("/pagination.vm")
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
	 function showTimeAndSubmit(day) {
        var startTime = getBeforeDate(day);
        $('#beginTime').val(startTime);
        var currentDate = getBeforeDate(0);
        $('#endTime').val(currentDate);
		$("#searchFrm").submit();
    }
	
	function exportExcel(){
		$("#searchFrm").attr("action",root + "/share/income/exportShareIncomeDetails.do")
		$("#searchFrm").submit();
		$("#searchFrm").attr("action",root + "/share/income/getShareIncomeDetailsList.do")
	}
</script>

