<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>妈妈好运营后台</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

#set($ctx = "$!request.getContextPath()")

#parse("/admin/layout/resource.vm")
</head>

<body>

	<div class="navbar">
        #parse("admin/com/head.vm")
    </div>
	
	<div class="sidebar-nav">
		#parse("admin/com/nav.vm")
    </div>
    
	<div>$screen_content</div>

</body>
</html>
