##APP信息推送列表
#parse("/admin/com/common.vm")
#set($layout="/admin/layout/matrix.vm")
<script type="text/javascript">
  Matrix.Nav({"menu": 124, "cmenu": 225});
</script>
<div id="content-header">
    <h1>财务管理 | 退货邮费退款</h1>
</div>

<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>列表</h5>
                </div>
                <div class="widget-content nopadding">
                    <form class="form-horizontal form-horizontal-inline" method="get" action="$!{request.getContextPath()}/compensateMailPrice/list.do">
                        <div class="row-fluid">
                            <div class="span4">
                                <div class="control-group">
                                    <label class="control-label">订单号：</label>
                                    <div class="controls">
                                        <input type="text" placeholder="" class="span12" name="cmOrderNo" value="$!{compensateMailPriceDto.cmOrderNo}" >
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="control-group">
                                    <label class="control-label">申请赔付时间：</label>
                                    <div class="controls">
                                        <input id="beginTime" class="span3" type="text" name="applyStartDate" value="$!date.format('yyyy-MM-dd',$!compensateMailPriceDto.applyStartDate)" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'endTime\')}'})"/>
                                        <span class="notepad-inline">至</span>
                                        <input id="endTime" class="span3" type="text" name="applyEndDate" value="$!date.format('yyyy-MM-dd',$!compensateMailPriceDto.applyEndDate)" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'beginTime\')}'})"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4">
                                <div class="control-group">
                                    <label class="control-label">赔付人姓名：</label>
                                    <div class="controls">
                                        <input type="text" placeholder="" class="span12" name="cmTelName" value="$!{compensateMailPriceDto.cmTelName}" >
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="control-group">
                                    <label class="control-label">联系方式：</label>
                                    <div class="controls">
                                        <input type="text" placeholder="" class="span12" name="cmTelPhone" value="$!{compensateMailPriceDto.cmTelPhone}" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions app-ad-block">
                            <button class="btn btn-success" type="submit" id="next">筛选</button>
                            <button class="btn btn-success" type="reset">重置</button>
                            <button type="button" name="files" class="btn btn-success file_upload" id="importXls">退邮费导入</button>
                            <a class="btn btn-danger" href="$!{request.getContextPath()}/compensateMailPrice/exportXls.do">待退款导出</a>
                        </div>
                    </form>
                </div>
                <div class="widget-content">
                    <div class="widget-box widget-tabs-box">
                    <ul class="nav nav-tabs">
                        <li #if($compensateMailPriceDto.cmState == 2) class="active" #end ><a href="$!{request.getContextPath()}/compensateMailPrice/list.do?cmState=2">等待退款</a></li>
                        <li #if($compensateMailPriceDto.cmState == 0) class="active" #end><a href="$!{request.getContextPath()}/compensateMailPrice/list.do?cmState=0">退款成功</a></li>
                        <li #if($compensateMailPriceDto.cmState == 3) class="active" #end><a href="$!{request.getContextPath()}/compensateMailPrice/list.do?cmState=3">退款失败</a></li>
                    </ul>
                    <table class="table table-hover with-check table-text-center">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>订单号</th>
                            <th>退款流水号</th>
                            <th>姓名</th>
                            <th>手机号</th>
                            <th>赔付金额</th>
                            <th>退款方式</th>
                            <th>退款时间</th>
                            <th>流水号</th>
                        </tr>
                        </thead>
                        <tbody>
                            #foreach($data in ${compensateMailPriceList})
                            <tr>
                                <td>$!data.cmId</td>
                                <td>$!data.cmOrderNo</td>
                                <td>$!data.cmSerialNumber</td>
                                <td>$!data.cmTelName</td>
                                <td>$!data.cmTelPhone</td>
                                <td>#formatAmount($!data.cmPrice)</td>
                                <td>支付宝打款</td>
                                <td>$!date.format('yyyy-MM-dd HH:mm:ss',$!data.cmPayTime)</td>
                                <td>$!data.cmSerialNumber</td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                    #parse("/pagination.vm")
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<link rel="stylesheet" type="text/css" href="$!{request.getContextPath()}/res/uploadify/uploadify.css" />
<script type="text/javascript" src="$!{request.getContextPath()}/res/uploadify/jquery.uploadify.js"></script>
<script type="text/javascript">
    $(function () {
        $('#importXls').uploadify({
            'uploader': '$!{request.getContextPath()}/compensateMailPrice/uploadExcel.do',
            'swf': '$!{request.getContextPath()}/res/uploadify/uploadify.swf',
            'cancelImg': '$!{request.getContextPath()}/res/uploadify/uploadify-cancel.png',
            'folder': 'uploads',//您想将文件保存到的路径
            'queueID': 'fileQueue',//与下面的id对应
            'queueSizeLimit': 1,
            'formData': {'gtId': ''},
            'fileTypeExts': '*.xls;*.xlsx', //控制可上传文件的扩展名，启用本项时需同时声明fileTypeDesc
            'fileTypeDesc': '商品主图',
            'fileDataName': 'file',
            'auto': true,
            'multi': true,
            'simUploadLimit': 1,
            'buttonText': '提现导入',
            'onUploadSuccess': function (file, data, response) {//上传完成时触发（每个文件触发一次）
                Toast.show("更新状态成功");
                window.location.reload();
            },
            'onSelectError': function (file, errorCode, errorMsg) {
                switch (errorCode) {
                    case -100:
                        Toast.show("上传的文件数量已经超出系统限制的" + $('#importXls').uploadify('settings', 'queueSizeLimit') + "个文件！");
                        break;
                    case -110:
                        Toast.show("文件 [" + file.name + "] 大小超出系统限制的" + $('#importXls').uploadify('settings', 'queueSizeLimit') + "大小！");
                        break;
                    case -120:
                        Toast.show("文件 [" + file.name + "] 大小异常！");
                        break;
                    case -130:
                        Toast.show("文件 [" + file.name + "] 类型不正确！");
                        break;
                }
            }
        });
    });
</script>