<div class="header-all">
    <div id="header">
        <h1 class="logo">妈妈好 | 运营管理系统</h1>
        <div class="navbar navbar-inverse" id="user-nav">
            <ul class="nav">
                <li>
                    <a href="javascript:;">
                        <i class="icon icon-user"></i>
                        <span class="text">${account.job}：${account.username}</span>
                    </a>
                </li>
               #**   <li>
                    <a href="javascript:;">
                        <i class="icon icon-envelope"></i>
                        <span class="text">信息</span>
                        <!-- <span class="label label-important">5</span>
                        --></a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon icon-cog"></i>
                        <span class="text">设置</span>
                    </a>
                </li> *#
                <li>
                    <a href="$!{request.getContextPath()}/j_spring_security_logout">
                        <i class="icon icon-share-alt"></i>
                        <span class="text">退出</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
