#set($layout="/admin/layout/matrix.vm")
#parse("/admin/com/common.vm")
<script type="text/javascript">
Matrix.Nav({"menu": 124, "cmenu": 169});
</script>
<style>
.selectType label{display:inline-block;margin:10px 15px;color:#bd362f;}
.selectType label input{vertical-align:middle;}
</style>	
<script type="text/javascript" src="../../res/js/jquery.form.js"></script>
<div id="content-header">
	<h1>财务管理 | 微分销提现审核</h1>
</div>
<input type="hidden" name="status" value="$!status"/>
<div class="container-fluid">
	<hr>
	<div class="row-fluid">
		<div class="span12">
			<div class="widget-box">
				<div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
					<h5>提现查询列表</h5>
				</div>
				<div class="widget-content">
					<div class="widget-box widget-tabs-box">
						<ul class="nav nav-tabs">
							<li #if ($!{request.getParameter('selectType')} == '1') class="active" #end>
								<a href="$!{request.getContextPath()}/cloud/withdraw/list.do?status=-1&selectType=1&page=1">实体店提现</a>
							</li>
							<li #if ($!{request.getParameter('selectType')} == '2') class="active" #end>
								<a href="$!{request.getContextPath()}/cloud/withdraw/list.do?status=-1&selectType=2&page=1">第三方店提现</a>
							</li>
							<li #if ($!{request.getParameter('selectType')} == '') class="active" #end>
								<a href="$!{request.getContextPath()}/f/e/queryFinanceData.do?selectType=">提现导出</a>
							</li>
						</ul>

						<div class="widget-content">
							<form class="form-horizontal form-horizontal-inline" method="get" id="form" action="$!{request.getContextPath()}/cloud/withdraw/list.do">
								<div class="row-fluid">
									<div class="span4">
										<div class="control-group">
											<label class="control-label">微分销商家：</label>
											<div class="controls">
												<input id="js_shopName" name="shopName" value="$!{request.getParameter('shopName')}" type="text" maxlength="50" class="span11" />
											</div>
										</div>
									</div>
									<div class="span4">
										<div class="control-group">
											<label class="control-label">联系人：</label>
											<div class="controls">
												<input id="js_linkman" name="linkman" value="$!{request.getParameter('linkman')}" type="text" maxlength="10" class="span11" />
											</div>
										</div>
									</div>
									<div class="span4">
										<div class="control-group">
											<label class="control-label">联系电话：</label>
											<div class="controls">
												<input id="js_phone" name="phone" value="$!{request.getParameter('phone')}" type="text" maxlength="13" placeholder="例:0571-85250100" class="span11" />
											</div>
										</div>
									</div>
								</div>
								<div class="row-fluid">
									<div class="span12">
										<div class="control-group">
											<label class="control-label">申请时间：</label>
											<div class="controls">
												<input id="startTime"  name="beginDate" class="Wdate" type="text" value="$!{request.getParameter('beginDate')}" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" autocomplete="off" />
												<span>至</span>
												<input id="endTime" name="endDate" class="Wdate" type="text" value="$!{request.getParameter('endDate')}" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" autocomplete="off" />
												<a class="btn_p" href="javascript:void(0)" onclick="showTime('7')">最近7天</a>&nbsp;
												<a class="btn_p" href="javascript:void(0)" onclick="showTime('30')">最近30天</a>
											</div>
										</div>
									</div>
								</div>
								<div class="form-actions app-ad-block" >
									<input type="hidden" value="$!{request.getParameter('status')}" name="status"/>
									<input type="hidden" value="$!{request.getParameter('selectType')}" name="selectType"/>
									<button class="btn btn-success" type="submit" id="commit">筛选</button>
									<button class="btn btn-warning" type="reset">重置</button>
									<a class="btn btn-danger" href="$!{request.getContextPath()}/cloud/withdraw/exportXls.do?selectType=$!{request.getParameter('selectType')}" >待付款提现导出</a>
									<a class="btn btn-danger" href="$!{request.getContextPath()}/cloud/withdraw/exportDetailsXls.do?selectType=$!{request.getParameter('selectType')}" >待付款明细导出</a>
									<button type="button" name="files" class = "btn btn-primary" id="importXls">提现导入</button>
								</div>
							</form>
						</div>
						<div class="widget-content ">
							<div class="widget-box widget-tabs-box">
								<ul class="nav nav-tabs">
									<li #if($!{request.getParameter('status')}==-1 )class="active" #end><a href="$!{request.getContextPath()}/cloud/withdraw/list.do?status=-1&selectType=$!{request.getParameter('selectType')}&page=1">全部</a></li>
									<li #if($!{request.getParameter('status')}==0 ) class="active" #end><a href="$!{request.getContextPath()}/cloud/withdraw/list.do?status=0&selectType=$!{request.getParameter('selectType')}&page=1">待付款</a></li>
									<li #if($!{request.getParameter('status')}==1) class="active" #end><a href="$!{request.getContextPath()}/cloud/withdraw/list.do?status=1&selectType=$!{request.getParameter('selectType')}&page=1">已付款</a></li>
									<li #if($!{request.getParameter('status')}==2) class="active" #end><a href="$!{request.getContextPath()}/cloud/withdraw/list.do?status=2&selectType=$!{request.getParameter('selectType')}&page=1">付款失败</a></li>
								</ul>
								<div class="widget-content tab-content">
									<table class="table table-text-center">
										<thead>
											<tr>
												#if($!{request.getParameter('status')}==-1)
												<th>提现编号</th>
												<th>微分销商家</th>
												<th>联系人</th>
												<th>联系电话</th>
												<th>支付宝账号</th>
												<th>支付宝实名</th>
												<th>提现金额(元)</th>
												<th>申请日期</th>
												<th>状态</th>
												##<th>提现流水号</th>
												##<th>付款日期</th>
												<th width="170px">操作</th>
												#elseif($!{request.getParameter('status')}==0)
												<th>提现编号</th>
												<th>微分销商家</th>
												<th>联系人</th>
												<th>联系电话</th>
												<th>支付宝账号</th>
												<th>支付宝实名</th>
												<th>提现金额(元)</th>
												<th>申请日期</th>
												<th width="170px">操作</th>
												#elseif($!{request.getParameter('status')}==1)
												<th>提现编号</th>
												<th>微分销商家</th>
												<th>联系人</th>
												<th>联系电话</th>
												<th>支付宝账号</th>
												<th>支付宝实名</th>
												<th>提现金额(元)</th>
												<th>申请日期</th>
												<th>提现流水号</th>
												<th>付款日期</th>
												#elseif($!{request.getParameter('status')}==2)
												<th>提现编号</th>
												<th>微分销商家</th>
												<th>联系人</th>
												<th>联系电话</th>
												<th>支付宝账号</th>
												<th>支付宝实名</th>
												<th>提现金额(元)</th>
												<th>申请日期</th>
												<th>失败原因</th>
												#end
											</tr>
										</thead>
										<tbody>
											#foreach($co in $dataList)
											#set($index = $loopCounter + 1)
											<tr>
												<td>$!{co.id}</td>
												<td>$!{co.shopName}</td>
												<td>$!{co.contactPerson}</td>
												<td>$!{co.contactPhone}</td>
												<td>$!{co.alipayAccount}</td>
												<td>$!{co.alipayRealName}</td>
												<td><p class="p_money">#formatAmount($!{co.money})</p></td>
												<td>$!date.format('yyyy-MM-dd HH:mm:ss',$co.applyDate)</td>
												#if($!{request.getParameter('status')}==0)
												<td><a class="btn btn-primary btn-mini" href="$!{request.getContextPath()}/cloud/withdraw/exportDetailsXlsById.do?id=$!{co.id}&shopName=$!{co.shopName}" >导出明细</a>
													<a class="btn btn-danger btn-mini" href="javascript:void(0)" onclick="showSingleModal('$!{co.id}',1,this);">无法付款</a></td>
													#elseif($!{request.getParameter('status')}==1)
													<td><span class="pay-no">$!{co.payNo}</span></td>
													<td>$!date.format('yyyy-MM-dd HH:mm:ss',$co.payDate)</td>
													#elseif($!{request.getParameter('status')}==-1)
													<td>
														#if($!{co.tStatus}==0)
														<span class="badge badge-info">待付款</span>
														#elseif($!{co.tStatus}==1)
														<span class="badge badge-success">付款成功</span>
														#else
														<span class="badge">付款失败</span>
														#end
													</td>
													##<td>$!{co.payNo}</td>
													##<td>$!date.format('yyyy-MM-dd HH:mm:ss',$!{co.payDate})</td>
													<td>
														#if($!{co.tStatus}==0)
														<a class="btn btn-primary btn-mini" href="$!{request.getContextPath()}/cloud/withdraw/exportDetailsXlsById.do?id=$!{co.id}&shopName=$!{co.shopName}">导出明细</a>
														<a class="btn btn-danger btn-mini" href="javascript:void(0)" onclick="showSingleModal('$!{co.id}',1,this);">无法付款</a>
														#else
														#end
													</td>
													#else
													<td style="color:red">
														<span title="$!{co.reason}">


															#if(!$!{co.reason})
															#else
															#set($reason =$!{co.reason} )
															#if($reason.length() > 15)
															#set($str=$reason.substring(0,15))
															$str .....
															#else
															$!{co.reason}
															#end
															#end
														</span>
													</td>
													#end

												</tr>
												#end
											</tbody>
										</table>
										##分页
										#parse("pagination.vm")
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div aria-hidden="false" id="refuseModal" class="modal hide in">
				<div class="modal-header">
					<button data-dismiss="modal" class="close" type="button">×</button>
					<h3>无法付款</h3>
				</div>
				<div class="modal-body">
					<form class="form-horizontal form-horizontal-inline"   id="reasonForm">
						<input type="hidden" id="reasonStatus" name="status" />
						<input type="hidden" id="id" name="id"/>
						<div class="row-fluid">
							<div class="span12">
								<div class="control-group">
									<p ><label for="radio-1"><input type="radio"   id="radio-1" name="reasonType" checked  value="0"/><span>支付宝账号错误</span></label></p>
									<p ><label for="radio-2"><input type="radio"    id="radio-2" name="reasonType"  value="1"/><span>支付宝账号与实名不符</span></label></p>
									<p ><label for="radio-4"><input type="radio" id="radio-3" name="reasonType"  value="2"/>其他</label></p>
									<textarea rows="2" style="width:400px;height:100px;display:none" id="txt" placeHolder="失败原因最长10个字" cols="1000" maxlength=10></textarea>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" type="button" id="submitReason">提交</button>
					<a data-dismiss="modal" class="btn" href="javascript:;">取消</a>
				</div>
			</div>


			<div aria-hidden="false" id="alipayModal" class="modal hide in">
				<div class="modal-header">
					<button data-dismiss="modal" class="close" type="button">×</button>
					<h3>请填写流水号</h3>
				</div>
				<input type="hidden" id="numberStatus" name="operateStatus" value=""/>
				<input type="hidden" id="numberNo" name="no" value=""/>
				<div class="modal-body">
					<div class="row-fluid">
						<div class="span12">
							<div class="control-group">
								<label class="control-label">流水号：</label>
								<div class="controls">
									<input type="text" id="number" name="reason" maxlength="64"/>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button class="btn btn-success" type="submit" id="submitNumber">提交</button>
					<a data-dismiss="modal" class="btn" href="javascript:;">取消</a>
				</div>
			</div>

			<div aria-hidden="false" id="inline_content-import" class="modal hide in">
				<div class="modal-header">
					<button data-dismiss="modal" class="close" type="button">×</button>
					<h3 id="modal-window-title">导入流水号</h3>
				</div>
				<form  action="$!{request.getContextPath()}/cloud/withdraw/uploadCloudWithDrawExcel.do" name="importForm" id="importForm" method="post" enctype="multipart/form-data">
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="row-fluid">
								<div class="control-group">
									<label class="control-label">选择文件<font color="red">*</font>：</label>
									<div class="controls">
										<input type="file" name="file" id="file" accept=".xlsx,.xls"/>
									</div>
									<label class="control-label error-msg">选择文件<font color="red">*</font>：</label>
									<div class="controls error-msg">
										<a href="" id="download-url" onclick="javascript:$('.btn-import-close').click();">点击下载</a>
									</div>
									<div align="center" style="display: none;" id="import-tips"><font color="red">正在导入，请稍等...</font></div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<input class="btn btn-success btn-import-submit" type="button" value="确定" id="js_commit">
						<a data-dismiss="modal" class="btn btn-close btn-import-close" href="javascript:;">关闭</a> 
					</div>
				</form>
			</div>

			<link rel="stylesheet" type="text/css" href="$!{request.getContextPath()}/res/uploadify/uploadify.css" />
			<script type="text/javascript" src="$!{request.getContextPath()}/res/uploadify/jquery.uploadify.js"></script>
			<script>
			$(function () {
				$('#commit').click(function () {
						$("input[type=text]").delBlank(); // 删除前后空格;
						var startTime = $('#startTime').val();
						var endTime = $('#endTime').val();
						if (startTime == "") {
							if (endTime != "") {
								Toast.show("请先选择开始日期");
								$('#startTime').focus();
								return false;
							}
						} else {
							if (endTime == "") {
								Toast.show("请选择结束日期");
								$('#endTime').focus();
								return false;
							} else {
								if (startTime > endTime) {
									Toast.show("您选择的日期不对，开始日期不能大于结束日期");
									$('#startTime').focus();
									return false;
								}
							}
						}
						var linkman = $("input[name=linkman]"),
						shopName = $("input[name=shopName]"),
						phone = $('#js_phone');
						if(isForm.isCheck(shopName.val())){
							shopName.focus();
							Toast.show("请输入正确格式的内容");
							return false;
						}else if(linkman.val() && !isForm.isCN(linkman.val())){
							linkman.focus();
							Toast.show("只允许输入中文");
							return false;
						}else if(phone.val() && !isForm.isPhone(phone.val())){
							phone.focus();
							Toast.show("联系电话只能输入数字或“-”");
							return false;
						}
						$('#form').submit();
					});

$('#submitReason').click(function () {
	var reason = $('#reason').val();
	var reasonType = $('input[name=reasonType]:checked').val();
	if(reasonType==2){
		reason = $('#txt').val();
	}else{
		reason = $('input[name=reasonType]:checked').next().html();
	}
	if(reason.length > 10){
		Toast.show("您填写的失败原因太长啦！！！");
		return false;
	}

	Matrix.JSON({
		showLoad: true,
		type: "POST",
		val: {
			'id': $('#id').val(),
			'reason': reason,
			'status':2
		},
		url: "$!{request.getContextPath()}/cloud/withdraw/updateWithDraw.do",
		fun: function (data) {
			if(data.success ==1){
				Toast.show({
					template: "更新记录成功",
					callback: function () {
						window.location.reload();
					}
				});
			}else{
				Toast.show({
					template: "系统错误",
					callback: function () {
					}
				});
			}

		}
	});

});

$('#submitNumber').click(function () {
	var number = $('#number').val();
	if (number == "") {
		Toast.show("请填写流水号");
		$('#number').focus();
		return false;
	} else {
		Matrix.JSON({
			showLoad: true,
			type: "POST",
			val: {
				'no': $('#numberNo').val(),
				'reason': '',
				'operateStatus': $('#numberStatus').val(),
				'number': number
			},
			url: "$!{request.getContextPath()}/fm/updateWithDraw.do",
			fun: function () {
				Toast.show({
					template: "更新成功",
					callback: function () {
						window.location.reload();
					}
				});
			}
		});
	}
});


$('#importXls').uploadify({
	'uploader': '$!{request.getContextPath()}/cloud/withdraw/uploadCloudWithDrawExcel.do',
	'swf': '$!{request.getContextPath()}/res/uploadify/uploadify.swf',
	'cancelImg': '$!{request.getContextPath()}/res/uploadify/uploadify-cancel.png',
            'folder': 'uploads',//您想将文件保存到的路径
            'queueID': 'fileQueue',//与下面的id对应
            'queueSizeLimit': 1,
            'formData': {'gtId': ''},
			'fileTypeExts': '*.xls;*.xlsx', //控制可上传文件的扩展名，启用本项时需同时声明fileTypeDesc
			'fileTypeDesc': '商品主图',
			'fileDataName': 'file',
			'auto': true,
			'multi': true,
			'simUploadLimit': 1,
			'buttonText': '提现导入',
            'onUploadSuccess': function (file, data, response) {//上传完成时触发（每个文件触发一次）
            	Toast.show("更新状态成功");
            	window.location.reload();
            },
            'onSelectError': function (file, errorCode, errorMsg) {
            	switch (errorCode) {
            		case -100:
            		Toast.show("上传的文件数量已经超出系统限制的" + $('#importXls').uploadify('settings', 'queueSizeLimit') + "个文件！");
            		break;
            		case -110:
            		Toast.show("文件 [" + file.name + "] 大小超出系统限制的" + $('#importXls').uploadify('settings', 'queueSizeLimit') + "大小！");
            		break;
            		case -120:
            		Toast.show("文件 [" + file.name + "] 大小异常！");
            		break;
            		case -130:
            		Toast.show("文件 [" + file.name + "] 类型不正确！");
            		break;
            	}
            }
        });
});

    // 显示提现拒绝理由窗口
    function showSingleModal(divId, title, content) {
    	$("#reasonStatus").val(2);
    	$("#id").val(divId);
    	$("#refuseModal").find("h3").html("请填写无法付款的原因");
    	$("#refuseModal").modal("show");
    }

    $('input[name=reasonType]').click(function () {
    	var value = $('input[name=reasonType]:checked').val();
    	if (value == 2) {
    		$('#txt').show();
    	} else {
    		$('#txt').hide();
    	}
    });


    function exportWith() {
    	if (confirm("你确定导出提现记录么？")) {
    		window.location.href = "$!{request.getContextPath()}/fm/exportWithDraw.do";
    	}
    }

    function getBeforeDate(n) {
    	var n = n;
    	var d = new Date();
    	var year = d.getFullYear();
    	var mon = d.getMonth() + 1;
    	var day = d.getDate();
    	var hour = d.getHours();
    	var minute = d.getMinutes();
    	var second = d.getSeconds();
    	(hour<10) && (hour = '0' + hour);
        (minute<10) && (minute = '0' + minute);
        (second<10) && (second = '0' + second);
    	var s;
    	if (day <= n) {
    		if (mon > 1) {
    			mon = mon - 1;
    		} else {
    			year = year - 1;
    			mon = 12;
    		}
    	}
    	d.setDate(d.getDate() - n);
    	year = d.getFullYear();
    	mon = d.getMonth() + 1;
    	day = d.getDate();
    	s = year + "-" + (mon < 10 ? ('0' + mon) : mon) + "-" + (day < 10 ? ('0' + day) : day) + ' ' + hour + ':' + minute + ':' + second;
    	return s;

    }

    function showTime(day) {
    	var startTime = getBeforeDate(day);
    	$('#startTime').val(startTime);
    	var currentDate = getBeforeDate(0);
    	$('#endTime').val(currentDate);
    	var shopName = $('#js_shopName').val();
    	var linkman = $('#js_linkman').val();
    	var phone= $('#js_phone').val();

    	if(isForm.isCheck($("input[name=linkman]").val())){
    		$("input[name=linkman]").focus();
    		Toast.show("包含了特殊字符，请重新输入");
    		return false;
    	}else if(isForm.isCheck($("input[name=shopName]").val())){
    		$("input[name=shopName]").focus();
    		Toast.show("包含了特殊字符，请重新输入");
    		return false;
    	}else if($('#js_phone').val() && !isForm.isPhone($('#js_phone').val())){
    		$('#js_phone').focus();
    		Toast.show("请输入正确的联系电话");
    		return false;
    	}

    	window.location.href = "$!{request.getContextPath()}/cloud/withdraw/list.do?status=$!{request.getParameter('status')}&shopName="+shopName+"&linkman="+linkman+"&phone="+phone+"&selectType=$!{request.getParameter('selectType')}&beginDate=" + startTime + "&endDate=" + currentDate+"&page=1";
    }
    
    
    $(".btn-import").click(function(){
    	$(".btn-import-submit").attr('disabled',false);
    	$(".btn-import-close").attr('disabled',false);
    	$(".error-msg").hide();
    	$("#file").outerHTML = $("#file").outerHTML ;
    	$("#inline_content-import").modal("show");
    });
    $("#file").click(function(){
    	$(".btn-import-submit").attr('disabled',false);
    	$(".btn-import-close").attr('disabled',false);
    });
    /*以下模板暂不使用
    $(".btn-import-submit").click(function(){
    	$(".btn-import-submit").attr('disabled',true);
    	$(".btn-import-close").attr('disabled',true);
    	var file = $('#file').val();
    	if(file == ''){
    		Toast.show('请选择上传文件');
    		return;
    	}
    	$("#import-tips").show();
    	$('#importForm').ajaxSubmit({
    		success: function (data, status) {
    			$("#import-tips").hide();
    			Toast.show(data.msg);
    			if(data.result == -1){
					// 导入中出现错误
					var downloadurl = '$!{request.getContextPath()}/cloud/withdraw/download.do';
					$(".error-msg").show();
					$("#download-url").attr("href",downloadurl+"?path="+data.url);
					$(".btn-import-close").bind('click',function(){
						window.location.reload();
					});
				}else if(data.result == 1){
            		//导入成功
            		$(".error-msg").hide();
            		$(".btn-import-close").click();
            		window.location.reload();
            	}else{
            		//$(".error-msg").show();
            		$("#import-tips").hide();
            		$(".btn-import-close").bind('click',function(){
            			window.location.reload();
            		});
            	}
            	$(".btn-import-submit").attr('disabled',false);
            	$(".btn-import-close").attr('disabled',false);
            }
        });
    });
    //*/
</script>