##APP信息推送列表
#set($layout="/admin/layout/matrix.vm")
<script type="text/javascript">
  Matrix.Nav({"menu": 26, "cmenu": 122});
</script>
<div id="content-header">
    <h1>用户管理 | 信息推送管理</h1>
</div>

<div class="container-fluid">
  <hr>
  #if($!channel=='push')
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
      	<a href="$!{request.getContextPath()}/informPush/list.do?channel=push">
	        <div class="widget-title bg_lo collapsed" href="#in-station">
	          <span class="icon"> <i class="icon-chevron-down"></i> </span>
	          <h5>站内推送</h5>
	        </div>
	      </a>

       	<div id="in-station" class="widget-content updates in collapse collapsed" style="height: auto;">
       		<a class="btn btn-primary" onclick="addPushJob(this,'push');">新建</a>
       		<br/><br/>
       		<div class="widget-box widget-tabs-box">
       			<ul class="nav nav-tabs">
       				<li class="#if($!status==0) active #end"><a href="$!{request.getContextPath()}/informPush/list.do?channel=push">待推送</a></li>
							<li class="#if($!status==2) active #end"><a href="$!{request.getContextPath()}/informPush/list.do?channel=push&amp;status=2">已推送</a></li>
       			</ul>
       			<div class="widget-content tab-content">
       				<!-- 选项卡4 -->
       				<div class="tab-pane active">
       					<table class="table table-hover table-text-center">
       						<thead>
       							<tr>
       								<th>标题</th>
       								<th>内容</th>
       								<th>落地页面</th>
       								<th>平台类型</th>
       								<th>推送时间</th>
       								<th>用户类型</th>
       								<th>操作</th>
       							</tr>
       						</thead>
       						<tbody>
       							#foreach($!data in ${listjobs})
       							#set($index = $loopCounter + 1)
       							<tr>
       								<td>$!data.get('title')</td>
       								<td>
       								    #set($contentt=$!data.get('content'))
				                		#if($contentt.length()>20)
				                			#set($contentt=$contentt.substring(0,20))
				                			<a title="$!data.get('content')">$contentt......</a>
				                		#else
				                			$contentt
				                		#end
       								</td>
       								<td>
       									#if($!data.get('pushType')==0)
       									主页
       									#elseif($!data.get('pushType')==1)
       									个人中心
       									#elseif($!data.get('pushType')==2)
       									优惠券
       									#else
       									设置-关于妈妈好
       									#end 

       								</td>
       								<td>
       									#if($!data.get('platform_type')==0)
       									全部
       									#elseif($!data.get('platform_type')==1)
       									IOS
       									#elseif($!data.get('platform_type')==2)
       									Android  
       									#end
       								</td>
       								<td>
       								  $!date.format('yyyy-MM-dd HH:mm:ss',$!data.get('push_time'))
       								
       								</td>
       								<td>
       									#if($!data.get('spec_member_type')==0)
       									全部
       									#else
       									$!data.get('memberIds')
       									#end
       								</td>
       								<td>
       									#if($!data.get('status')==0)
       									<a class="btn btn-primary btn-mini" onclick="javascript:updatePushJob(this,'push',$!data.get('push_job_id'),'update');">修改</a>
       									<a class="btn btn-danger btn-mini" href="javascript:delPushJob($!data.get('push_job_id'));">删除</a>
       									#end
       									<a class="btn btn-success btn-mini" onclick="javascript:updatePushJob(this,'push',$!data.get('push_job_id'),'show');">查看</a>
       								</td>
       							</tr>
       							#end
       						</tbody>
       					</table>
       					#parse("pagination.vm")
       				</div>

       			</div>
       			<!-- 内容框 END -->
       		</div>
          
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
      	<a href="$!{request.getContextPath()}/informPush/list.do?channel=sms">
	        <div class="widget-title bg_lo collapsed" href="">
	          <span class="icon"> <i class="icon-chevron-down"></i> </span>
	          <h5>短信推送</h5>
	        </div>
	      </a>

       	<div id="in-station" class="widget-content updates in collapse collapsed" style="height: auto;">
       	</div>
      </div>
    </div>
  </div>
  #end
  
  #if($!channel=='sms')
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
      	<a href="$!{request.getContextPath()}/informPush/list.do?channel=push">
	        <div class="widget-title bg_lo collapsed" href="">
	          <span class="icon"> <i class="icon-chevron-down"></i> </span>
	          <h5>站内推送</h5>
	        </div>
	      </a>

       	<div id="in-station" class="widget-content updates in collapse collapsed" style="height: auto;">
       	</div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
      	<a href="$!{request.getContextPath()}/informPush/list.do?channel=push">
	        <div class="widget-title bg_lo collapsed" href="">
	          <span class="icon"> <i class="icon-chevron-down"></i> </span>
	          <h5>短信推送</h5>
	        </div>
	      </a>

       	<div id="in-station" class="widget-content updates in collapse collapsed" style="height: auto;">
       		<a class="btn btn-primary" onclick="addPushJob(this,'sms');">新建</a>
       		<br/><br/>
       		<div class="widget-box widget-tabs-box">
       			<ul class="nav nav-tabs">
       				<li class="#if($!status==0) active #end"><a href="$!{request.getContextPath()}/informPush/list.do?channel=sms">待推送</a></li>
							<li class="#if($!status==2) active #end"><a href="$!{request.getContextPath()}/informPush/list.do?channel=sms&status=2">已推送</a></li>
       			</ul>
       			<div class="widget-content tab-content">
       				<!-- 选项卡4 -->
       				<div class="tab-pane active">
       					<table class="table table-hover table-text-center">
       						<thead>
       							<tr>
       								<th>标题</th>
       								<th>内容</th>
       								<th>推送时间</th>
       								<th>用户类型</th>
       								<th>操作</th>
       							</tr>
       						</thead>
       						<tbody>
       							#foreach($!data in ${listjobs})
       							#set($index = $loopCounter + 1)
       							<tr>
       								<td>$!data.get('title')</td>
       								<td>
       								  #set($contentt=$!data.get('content'))
				                	  #if($contentt.length()>25)
				                		   #set($contentt=$contentt.substring(0,25))
				                		   <a title="$!data.get('content')">$contentt......</a>
				                	  #else
				                			$contentt
				                	  #end
       								</td>
       								<td>$!date.format('yyyy-MM-dd HH:mm:ss',$!data.get('push_time'))</td>
       								<td>
       									#if($!data.get('spec_member_type')==0)
       									全部
       									#else
       									$!data.get('memberIds')
       									#end
       								</td>
       								<td>
       									#if($!data.get('status')==0)
       									<a class="btn btn-primary btn-mini" onclick="javascript:updatePushJob(this,'sms',$!data.get('push_job_id'),'update');">修改</a>
       									<a class="btn btn-danger btn-mini" onclick="javascript:delPushJob($!data.get('push_job_id'));">删除</a>
       									#end
       									<a class="btn btn-success btn-mini" onclick="javascript:updatePushJob(this,'sms',$!data.get('push_job_id'),'show');">查看</a>
       								</td>
       							</tr>
       							#end
       						</tbody>
       					</table>
       					#parse("pagination.vm")
       				</div>

       			</div>
       			<!-- 内容框 END -->
       		</div>
          
        </div>
      </div>
    </div>
  </div>
  #end
</div>

<!--modal container-->
<div class="js-tmp-modal modal modal-lg hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3></h3>
    </div>
    <div class="modal-body nopadding">
        <div class="model-iframe"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>


<script type="text/javascript">

	/*加载iframe*/
	function loadIframe(info){
		var self = $(".js-tmp-modal");
		self.find(".modal-body .model-iframe").empty().append("<iframe src='" + info.url + "' />");
		self.find(".modal-header h3").text(info.title);
		self.modal("show");
		return false;
	}

    /*新建站内推送*/
    function addPushJob(obj,channel) {
        //加载iframe
		var info = {
			title: "新建" + (channel == "push" ? "站内" : "短信") + "推送",
			url:root + "/informPush/toSave.do?channel=" + channel
		};
		loadIframe(info);
    }

    /*编辑推送信息*/
	function updatePushJob(obj, channel, pushJobId, opt) {
		var info = {
			title: (opt == "update" ? "编辑" : "查看") + (channel == "push" ? "站内" : "短信") + "推送",
			url: root + "/informPush/toUpdate.do?channel=" + channel + "&jobId=" + pushJobId + "&opt=" + opt
		};
		loadIframe(info);
	}

    /*删除推送消息*/
    function delPushJob(pushJobId) {
        if (confirm("确认删除吗？")) {
            $.ajax({
                url: '$!{request.getContextPath()}/informPush/delete.do',// 跳转到 action
                data: {jobId: pushJobId},
                type: 'post',
                cache: false,
                success: function (data) {
                    if (data == "success") {
                        Toast.show("刪除成功！");
                        window.location.reload();
                    } else {
                        Toast.show("刪除失敗！");
                    }
                },
                error: function () {
                    Toast.show("系统异常！");
                }
            });
        } else {
            return false;
        }
    }
</script>
